<div class="suggest">
<div class="suggest_div">
  <ul>
    <li class="emijo onetimecontent" ><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Group_121.svg?v=1658384918"><p>Single bottle includes 62 tablets</b></p></li>
    <li class="emijo subscriptioncontent" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/a420280b4020a3f8f8f821399ab19373.svg?v=1658226636"><p>Get <b>2 bottles</b> every <b>4 months,</b> which equals <b>1 tablet/day</b></p></li>
    <li class="emijo"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/5b60a8dc65e88a7e2b934b29fd3ca22a.svg?v=1658226298"><p>We suggest pairing with another bottle to round out your day/night brushing routine</p></li>
    
    <li class="emijo onetimecontent"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/596bb0b7973d7cdb04e5b95c4d4812f8.svg?v=1658226448"><p>100% guaranteed—return for full refund if not satisfied</p></li>
    <li class="emijo subscriptioncontent" style="display: none;"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/596bb0b7973d7cdb04e5b95c4d4812f8.svg?v=1658226448"><p>100% guaranteed—cancel or modify anytime</p></li>

 </ul>
  </div>
</div>