    <div class="modal modal_multi baseline_content modal-2">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi">×</span>

            <div class="modal_section grid">
                <div class="left__content">
                    <div class="content_details">
                        <div class="modal_heading-section">
                            <div class="modal_titles">
                                <div class="item_circle_1">
                                    <span class="circle"></span>
                                </div>
                                <div class="titles_0">
                                    <h2 class="heading_0">BASELINE</h2>
                                    <h4 class="sub__heading_0">Complete Oral Health</h4>
                                </div>
                            </div>
                        </div>
                        <div class="modal_ingredients">
                            <div class="ingredients__lists">
                                <span class="sub_block">Ingrediants: </span>

                                <a href="javascript:void(0)" class="links2 item__link " onclick="currentSlide_2(1)">
                                    <span>xylitol (birch extract)</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link myAnchor" onclick="currentSlide_2(2)">
                                    <span>cellulose</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(3)">
                                    <span>xanthan gum</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(4)">
                                    <span>nano-hydroxyapatite</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(5)">
                                    <span>calcium carbonate</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(6)">
                                    <span>menthol</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(7)">
                                    <span>hydrated silica</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(8)">
                                    <span> magnesium stearate</span>,
                                </a>

                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(9)">
                                    <span> sodium bicarbonate</span>,
                                </a>
                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(10)">
                                    <span> vitamins C and E</span>,
                                </a>
                                
                              
                              	<a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(11)">
                                    <span>peppermint</span>,
                                </a>


                                <a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(12)">
                                    <span>spearmint</span>,
                                </a>
                              
                                                            
                              	<a href="javascript:void(0)" class="links2 item__link" onclick="currentSlide_2(13)">
                                    <span>wintergreen</span>
                                </a>

                            </div>
                        </div>
                        <div class="logo-0">
                            <img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/RGB_nHa-Icon_Baseline_Black-Color.png?v=1646894774" alt="" class="logo_img">
                        </div>

                    </div>

                </div>
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="ingredient-slider">
                                <!-- Base Slider -->


                                <ul class="ul_slider base_slider">


                                    <li class="mySlide_2  list__1">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>xylitol (birch extract)</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Derived from the fibrous part of plants, Xylitol starves bad bacteria and prevents the growth of cavity-causing plaque. Xylitol also stimulates saliva production (saliva is full of protective ions and enzymes which makes it evolution’s time-tested version
                                                    of toothpaste).
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__2">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>cellulose</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">
                                                <p class="slider_para">
                                                    Provides structure to plant cell walls in nature and provides structure to our tablets while helping soothe your gums.
                                                </p>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="mySlide_2 ingredient_slider-content list__3">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>xanthan gum</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Proven to increase saliva production and protect against dry mouth, defend tooth enamel from acid erosion, and provide a soothing brushing experience.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__4">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>nano-hydroxyapatite</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Nano-Hydroxyapetite (nHA) is a dentist-backed, non-toxic flouride alternative that’s been the cornerstone of Japanese toothpaste for decades. Tooth enamel is one of the only tissues in your body that cannot repair itself from within, which is why remineralization
                                                    is the most critical quality in a toothpaste. Hydroxyapatite is one of the three minerals that make up your teeth, and we included it in our tablets to remineralize your teeth and keep them strong.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__5">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>calcium carbonate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Along with hydroxyapatite, calcium makes up the bulk of your tooth enamel. We added calcium carbonate because it provides calcium ions to help remineralize teeth, and also acts as a mild abrasive to polish and whiten.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__6">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>menthol</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Menthol is an oil extract of the mint plant that has been used since ancient times to reduce pain and provide a cool, soothing sensation.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__7">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>hydrated silica</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    One of the most abundant natural compounds on earth, we added hydrated silica to our toothpaste because it’s the perfect tooth polisher for superior whitening. A natural abrasive, it’s strong enough to get out stains but small enough to not scratch enamel.
                                                    Well-polished teeth not only feel good to your tongue, they make it harder for plaque-forming bacteria to latch on.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__8">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>magnesium stearate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    A vegetable-derived powder lubricant that aids in the tablet-making process.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__9">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>sodium bicarbonate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Enamel demineralization occurs when your mouth’s pH is 5.5. Not good! Sodium bicarbonate buffers acids to keep your pH balanced and your teeth strong.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__10">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>vitamins C and E</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    We added Vitamins C and E because of their antioxidant power. They soothe and rejuvenate your gums and cheeks and also scrub your mouth of free radicals, which may help prevent gingivitis and oral cancer.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__11">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>peppermint</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    A hybrid mint – a cross between watermint and spearmint – indigenous to Europe and the Middle East used to ease inflammation and indigestion.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__12">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>spearmint</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Also known as garden mint, a species of mint native to Europe and southern Asia that was introduced into England through the Romans by the 5th century and ​​used for its antimicrobial activity.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="mySlide_2 ingredient_slider-content list__13">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>wintergreen</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    An herb with a minty flavor that has been used for centuries as a topical pain reliever and anti-inflammatory.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                </ul>

                                <a class="prev" onclick="plusSlides_2(-1)"><i class="arrow left"></i></a>
                                <a class="next" onclick="plusSlides_2(1)"><i class="arrow right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
var slideIndex_2 = 1;
showSlides_2(slideIndex_2);

function plusSlides_2(n) {
  showSlides_2(slideIndex_2 += n);
}

function currentSlide_2(n) {
  showSlides_2(slideIndex_2 = n);
}

function showSlides_2(n) {
  var i;
//   var j;
  var slides_2 = document.getElementsByClassName("mySlide_2");
  var dots_2 = document.getElementsByClassName("links2");
//   var removeClass = document.getElementsByClassName("myAnchor");
  
  if (n > slides_2.length) {slideIndex_2 = 1}
  if (n < 1) {slideIndex_2 = slides_2.length}
  
  for (i = 0; i < slides_2.length; i++) {
      slides_2[i].style.display = "none";
  }
  
  for (i = 0; i < dots_2.length; i++) {
      dots_2[i].className = dots_2[i].className.replace("active", "");	
  }
  
//   for (j = 0; j < removeClass.length; j++) {
//       removeClass[j].classList.remove('class_1');	
//   }
  
  slides_2[slideIndex_2 - 1].style.display = "block";
  dots_2[slideIndex_2 - 1].className += " active";
  
}
</script>