<!-- Baseline Mobile Modal Stucture Start -->

<div class="modal modal_mobile baseline_content modal-14">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>nano-Hydroxyapatite (nHa)</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                    Nano-Hydroxyapetite (nHA) is a dentist-backed, non-toxic flouride alternative that’s been the cornerstone of Japanese toothpaste for decades. Tooth enamel is one of the only tissues in your body that cannot repair itself from within, which is why remineralization is the most critical quality in a toothpaste. Hydroxyapatite is one of the three minerals that make up your teeth, and we included it in our tablets to remineralize your teeth and keep them strong.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-15">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>vitamins C and E</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  We added Vitamins C and E because of their antioxidant power. They soothe and rejuvenate your gums and cheeks and also scrub your mouth of free radicals, which may help prevent gingivitis and oral cancer.

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal  modal_mobile  baseline_content modal-16">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>
            <div class="modal_section grid">
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>xylitol (birch extract)</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Derived from the fibrous part of plants, Xylitol starves bad bacteria and prevents the growth of cavity-causing plaque. Xylitol also stimulates saliva production (saliva is full of protective ions and enzymes which makes it evolution’s time-tested version of toothpaste). 
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
 
<div class="modal modal_mobile baseline_content modal-17">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>cellulose</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Provides structure to plant cell walls in nature and provides structure to our tablets while helping soothe your gums.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

<div class="modal modal_mobile baseline_content modal-18">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">

                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>xanthan gum</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Proven to increase saliva production and protect against dry mouth, defend tooth enamel from acid erosion, and provide a soothing brushing experience. 
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-19">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
               
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>calcium carbonate</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
Along with hydroxyapatite, calcium makes up the bulk of your tooth enamel. We added calcium carbonate because it provides calcium ions to help remineralize teeth, and polishes for a whiter smile.
                              	</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-20">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>menthol</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Menthol is an oil extract of the mint plant that has been used since ancient times to reduce pain and provide a cool, soothing sensation.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal modal_mobile baseline_content modal-21">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
             
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>hydrated silica </span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  One of the most abundant natural compounds on earth, we added hydrated silica to our toothpaste because it’s the perfect tooth polisher for superior whitening. A natural abrasive, it’s 
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-22">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>magnesium stearate</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  A vegetable-derived powder lubricant that aids in the tablet-making process. 

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-23">
        <div class="modal-content modal_container modal-content_1">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>sodium bicarbonate</span>
                                </h3>
                                <h5 class="sub_title">
                                    <span>toothpaste ingredient</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Enamel demineralization occurs when your mouth’s pH is 5.5. Not good! Sodium bicarbonate buffers acids to keep your pH balanced and your teeth strong.

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-24">
        <div class="modal-content modal_container modal-content_1 flavor_content">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
               
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>peppermint</span>
                                </h3>
                                <h5 class="sub_title flavour">
                                    <span>flavour</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  A hybrid mint – a cross between watermint and spearmint – indigenous to Europe and the Middle East used to ease inflammation and indigestion.

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-25">
        <div class="modal-content modal_container modal-content_1 flavor_content">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>spearmint</span>
                                </h3>
                                <h5 class="sub_title flavour">
                                    <span>flavour</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  Also known as garden mint, a species of mint native to Europe and southern Asia that was introduced into England through the Romans by the 5th century and ​​used for its antimicrobial activity. 

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal_mobile baseline_content modal-26">
        <div class="modal-content modal_container modal-content_1 flavor_content">
            <span class="close close_multi_m">×</span>

            <div class="modal_section grid">
                
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">
                            <div class="slider_title">
                                <h3 class="title_0">
                                    <span>wintergreen</span>
                                </h3>
                                <h5 class="sub_title flavour">
                                    <span>flavour</span>
                                </h5>
                            </div>

                            <div class="ingredient-slider">
                                <p class="slider_para">
                                  An herb with a minty flavor that has been used for centuries as a topical pain reliever and anti-inflammatory.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>