<!-- --------------------IMMUNITY MODEL MOBILE---------------------- -->
<div class="modal modal_mobile  immunity_content modal-43">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Vitamin D3 30mcg*</span>
                            </h3>
                            <h5 class="sub_title functional">
                                <span>functionals</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                Vitamin D- the “sunshine vitamin” that keeps your bones, 
                                heart and immune system strong. More than 40% of adults in 
                                the United States are deficient in Vitamin D, with spikes 
                                in the winter months. Low mood and weakened physical immunity are 
                                just some of the consequences.  Taking Vitamin D bolsters immune 
                                defenses and supports better muscle function and strength. 
                                It also decreases the risk of depression, certain cancers, and 
                                death from cardiovascular disease. In the mouth, Vitamin D prevents 
                                gum disease, tooth loss, childhood cavities.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-44">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Vitamin B12 6mcg*</span>
                            </h3>
                            <h5 class="sub_title functional">
                                <span>functionals</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                Vitamin B12 helps keep your brain and nervous system strong by aiding in the formation of blood cells and neurological function. It’s an essential vitamin for DNA synthesis and cellular energy production. Beloved by those looking to elevate energy and mood.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal_mobile  immunity_content modal-45">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">

            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Xylitol</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                              Derived from the fibrous part of plants, Xylitol starves bad bacteria and prevents the growth of cavity-causing plaque. Xylitol also stimulates saliva production (saliva is full of protective ions and enzymes which makes it evolution’s time-tested version of toothpaste). 

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-46">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">

            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Cellulose </span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
							Provides structure to plant cell walls in nature and provides structure to our tablets while helping soothe your gums.


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-47">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">

            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Xanthan gum</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Proven to increase saliva production and protect against dry mouth, defend tooth enamel from acid erosion, and provide a soothing brushing experience. 


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-48">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Nano-Hydroxyapatite (nHa)</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                    Nano-Hydroxyapetite (nHA) is a dentist-backed, non-toxic flouride alternative that’s been the cornerstone of Japanese toothpaste for decades. Tooth enamel is one of the only tissues in your body that cannot repair itself from within, which is why remineralization is the most critical quality in a toothpaste. Hydroxyapatite is one of the three minerals that make up your teeth, and we included it in our tablets to remineralize your teeth and keep them strong.


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-49">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Calcium carbonate</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
Along with hydroxyapatite, calcium makes up the bulk of your tooth enamel. We added calcium carbonate because it provides calcium ions to help remineralize teeth, and polishes for a whiter smile.


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-50">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Menthol</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Menthol is an oil extract of the mint plant that has been used since ancient times to reduce pain and provide a cool, soothing sensation.


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-51">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Hydrated silica</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  One of the most abundant natural compounds on earth, we added hydrated silica to our toothpaste because it’s the perfect tooth polisher for superior whitening. A natural abrasive, it’s 


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-52">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">

            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Magnesium stearate</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  A vegetable-derived powder lubricant that aids in the tablet-making process. 


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-53">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Sodium bicarbonate </span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Enamel demineralization occurs when your mouth’s pH is <5.5. Not good! Sodium bicarbonate buffers acids to keep your pH balanced and your teeth strong.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-54">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
          
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Vitamins C and E</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  We added Vitamins C and E because of their antioxidant power. They soothe and rejuvenate your gums and cheeks and also scrub your mouth of free radicals, which may help prevent gingivitis and oral cancer.
.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-55">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>peppermint</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  A hybrid mint – a cross between watermint and spearmint – indigenous to Europe and the Middle East used to ease inflammation and indigestion.
.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-56">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>spearmint</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Also known as garden mint, a species of mint native to Europe and southern Asia that was introduced into England through the Romans by the 5th century and ​​used for its antimicrobial activity. 


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-57">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>wintergreen</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  An herb with a minty flavor that has been used for centuries as a topical pain reliever and anti-inflammatory.


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  immunity_content modal-58">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Sage</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
								A perennial evergreen and member of the mint family, native to the Mediterranean, known for its healing and cleansing properties. Sometimes called S. salvatrix (sage the savior), sage has been used for centuries in oral preparations for inflammation of the mouth, tongue and throat.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
