 
<!-- SLEEP  Mobile Modal Structure -->

<!-- SLEEP Ingredients Item List START -->

<div class="modal modal_mobile  sleep_content modal-113">
  
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">

            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Melatonin 1.5mg*</span>
                            </h3>
                            <h5 class="sub_title functional">
                                <span>functionals</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                More sleep and better sleep means better health, mood, metabolism, cognition, libido and overall quality of life. Melatonin is the natural hormone that regulates circadian rhythms and sleep. Our dose helps initiate and maintain sleep without the grogginess or sedation of other sleep aids.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-114">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>L-theanine 2.5mg</span>
                            </h3>
                            <h5 class="sub_title functional">
                                <span>functionals</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                Naturally occurring in a seeping cup of green tea, L-theanine invites slumber by reducing stress and calming your nerves.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal_mobile  sleep_content modal-115">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
          
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>xylitol (birch extract)</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Derived from the fibrous part of plants, Xylitol starves bad bacteria and prevents the growth of cavity-causing plaque. Xylitol also stimulates saliva production (saliva is full of protective ions and enzymes which makes it evolution’s time-tested version of toothpaste). 


                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  sleep_content modal-116">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>cellulose</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Provides structure to plant cell walls in nature and provides structure to our tablets while helping soothe your gums.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-117">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span> Xanthan gum</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Proven to increase saliva production and protect against dry mouth, defend tooth enamel from acid erosion, and provide a soothing brushing experience. 

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-118">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Nano-Hydroxyapatite (nHa)</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                    Nano-Hydroxyapetite (nHA) is a dentist-backed, non-toxic flouride alternative that’s been the cornerstone of Japanese toothpaste for decades. Tooth enamel is one of the only tissues in your body that cannot repair itself from within, which is why remineralization is the most critical quality in a toothpaste. Hydroxyapatite is one of the three minerals that make up your teeth, and we included it in our tablets to remineralize your teeth and keep them strong.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-119">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Calcium carbonate</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
Along with hydroxyapatite, calcium makes up the bulk of your tooth enamel. We added calcium carbonate because it provides calcium ions to help remineralize teeth, and polishes for a whiter smile.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-120">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Menthol</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Menthol is an oil extract of the mint plant that has been used since ancient times to reduce pain and provide a cool, soothing sensation.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-121">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>   Hydrated Silica  </span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                One of the most abundant natural compounds on earth, we added hydrated silica to our toothpaste because it’s the perfect tooth polisher for superior whitening. A natural abrasive, it’s strong enough to get out stains but small enough to not scratch enamel. Well-polished teeth not only feel good to your tongue, they make it harder for plaque-forming bacteria to latch on.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-122">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>  Magnesium stearate  </span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  A vegetable-derived powder lubricant that aids in the tablet-making process. 

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-123">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
          
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>  Sodium biIcarbonate</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Enamel demineralization occurs when your mouth’s pH is 5.5. Not good! Sodium bicarbonate buffers acids to keep your pH balanced and your teeth strong.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  sleep_content modal-124">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Vitamins C and E</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  We added Vitamins C and E because of their antioxidant power. They soothe and rejuvenate your gums and cheeks and also scrub your mouth of free radicals, which may help prevent gingivitis and oral cancer.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  sleep_content modal-125">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Stevia leaf extract</span>
                            </h3>
                            <h5 class="sub_title">
                                <span>base ingredients</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                             Stevia rebaundiana Bertoni, known affectionately as “honey leaf,” is a natural, calorie-free, cavity-fighting plant extract from South America.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile sleep_content modal-126">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Lavender</span>
                            </h3>
                          <div class="multi-sub_titles">
                            <h5 class="sub_title functional">
                                <span>functional</span>
                            </h5>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                          </div>  
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                Relaxing lavender has been shown to significantly benefit 
                                  the quality and quantity of sleep without any sedative effect. 
                                  Its soothing smell relieves anxiety, and improves overall 
                                  mental and physical health.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  sleep_content modal-127">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>    French Vanilla     </span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                A spice derived from orchids of the genus Vanilla, primarily obtained from pods of the Mexican species, flat-leaved vanilla.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_mobile  sleep_content modal-128">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Peppermint </span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  A hybrid mint – a cross between watermint and spearmint – indigenous to Europe and the Middle East used to ease inflammation and indigestion.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="modal modal_mobile  sleep_content modal-129">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
           
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Spearmint</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  Also known as garden mint, a species of mint native to Europe and southern Asia that was introduced into England through the Romans by the 5th century and ​​used for its antimicrobial activity. 

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="modal modal_mobile  sleep_content modal-130">
    <div class="modal-content modal_container modal-content_1 functional_content">
        <span class="close close_multi_m">×</span>

        <div class="modal_section grid">
            
            <div class="right__content">
                <div class="ingredient__details">
                    <div class="item-detail">
                        <div class="slider_title immunity_function">
                            <h3 class="title_0">
                                <span>Wintergreen</span>
                            </h3>
                            <h5 class="sub_title flavour">
                                <span>flavour</span>
                            </h5>
                        </div>

                        <div class="ingredient-slider">
                            <p class="slider_para">
                                  An herb with a minty flavor that has been used for centuries as a topical pain reliever and anti-inflammatory.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


