<div class="product-extra">
  <div class="extra-div">
    <div class="earth-frendly">
      <ul>
        <li class="natural"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/All-natural.png?v=1656999717"><p>All natural</p></li>
         <li class="natural"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/image_4.png?v=1656999737"><p>Dentist-made</p></li>
         <li class="natural"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/earth.png?v=1656999717"><p>Earth Friendly</p></li>
         <li class="natural"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/travel.png?v=1656999717"><p>Travel-ready</p></li>
        
      </ul>
    </div>
<!--     <div class="brand-divvv">
      <div class="first-brand"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/nHa_badge_1.png?v=1657002772"></div>
       <div class="second-brand"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/nHa_badge_5d9ed775-0bbd-4904-a113-6a57d79cae17.png?v=1657000538"></div>
    </div> -->
  
  </div>
</div>