
    <!-- SLEEP Modal Structure -->

    <!-- SLEEP Ingredients Item List START -->

    <div class="shop modal modal_multi  sleep_content modal-95">

        <div class="modal-content modal_container modal-content_1 functional_content">
         <div class="modal_section grid">
      <div class="left__content">
        <div class="spashIcon">
          <svg width="59" height="53" viewBox="0 0 59 53" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.1009 2C29.7915 5.21537 30.7494 8.87764 30.7494 12.7634C30.7494 25.5575 20.3771 35.9298 7.58295 35.9298C5.65734 35.9298 3.78924 35.6932 2 35.2512C5.87586 42.6251 13.6079 47.6543 22.5163 47.6543C35.3104 47.6543 45.6827 37.282 45.6827 24.4879C45.6827 13.6194 38.1971 4.49902 28.0992 2.00164L28.1009 2Z" fill="#F7D9FF" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <circle cx="9.82898" cy="20.9208" r="2.60975" fill="black"/>
          <circle cx="55.4999" cy="17.6581" r="2.60975" fill="black"/>
          <circle cx="46.3651" cy="49.6276" r="2.60975" fill="black"/>
          </svg>
        </div>
        <div class="content_details">
          <div class="modal_heading-section">
            <div class="modal_titles">

              <div class="titles_0">
                <h2 class="heading_0">{{title}}</h2>
                <h4 class="sub__heading_0">
                  <p>whitening toothpaste</p>
                  <span>mint with lavender</span>
                </h4>
              </div>
            </div>
          </div>
          
          <div class="modal__supplement-section">
            <div class="vitamins_box">
              <div class="supplement_title">
                <h3 class="box_title">
                  <span>Supplement Facts*</span>
                </h3>
              </div>
              <div class="titles_1">
                <a href="#" class="item__link">
                  <span>Melatonin (1.5mg)</span>,
                </a>
                <a href="#" class="item__link">
                  <span>L-theanine (2.5mg)</span>
                </a>
              </div>
            </div>
          </div>
          
          <div class="modal_ingredients desktop">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
<!--           <div class="ingredient_see">
           <a href="https://duotoothpaste.com/pages/ingredients#{{title_down}}" class="see-full">See full ingredient list</a>
          </div> -->
        </div>
      </div>
      <div class="right__content">
        <div class="ingredient__details">
          <h2 class="ingredient__details_tag">{{tag}}</h2>
          <div class="item-detail">
           <p class="ingredient__details_para"> Naturally occurring in a seeping cup of green tea, L-theanine invites slumber by reducing stress and calming your nerves.
            </p>
          </div>
        </div>
      </div>
           <div class="modal_ingredients mobile">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
    </div>
        </div>
    </div>
