    <!-- Modal Structure -->

<!-- Baseline Ingredients Item List START -->

<div class="shop modal  modal_multi energy_content  modal-1" id="modal1">
    <div class="modal-content modal_container modal-content_1">
     
<div class="modal_section grid">
      <div class="left__content">
        <div class="spashIcon">
          <svg width="43" height="57" viewBox="0 0 43 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M37.9502 26.3295C37.9502 26.3295 32.3585 26.4619 26.7651 26.5289V2L4.39648 30.3978C4.39648 30.3978 9.98824 30.2655 15.5816 30.1985V54.7273L37.9502 26.3295Z" fill="#FFE5A7" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2 46.3393L7.99174 40.3475" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M34.9546 16.9797L40.9463 10.3888" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="content_details">
          <div class="modal_heading-section">
            <div class="modal_titles">

              <div class="titles_0">
                <h2 class="heading_0">{{title}}</h2>
                <h4 class="sub__heading_0">
                  <p>whitening toothpaste</p>
                  <span>cinnamon mint chai</span>
                </h4>
              </div>
            </div>
          </div>
          
          <div class="modal__supplement-section">
            <div class="vitamins_box">
              <div class="supplement_title">
                <h3 class="box_title">
                  <span>Supplement Facts*</span>
                </h3>
              </div>
              <div class="titles_1">
                <a href="#" class="item__link">
                  <span>Caffeine (10mg)</span>,
                </a>
                <a href="#" class="item__link">
                  <span>L-theanine (2.5mg)</span>,
                </a>
                <a href="#" class="item__link">
                  <span>Vitamin B12 (6mcg)</span>
                </a>
              </div>
            </div>
          </div>
          
          <div class="modal_ingredients desktop">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
<!--           <div class="ingredient_see">
           <a href="https://duotoothpaste.com/pages/ingredients#{{title_down}}" class="see-full">See full ingredient list</a>
          </div> -->
        </div>
      </div>
      <div class="right__content">
        <div class="ingredient__details">
          <h2 class="ingredient__details_tag">{{tag}}</h2>
          <div class="item-detail">
           <p class="ingredient__details_para"> 
            Naturally occurring in a seeping cup of green tea, {{tag}} improves cognitive performance and attention. L-theanine works together with caffeine to provide more potent energy without the jitters or the crash.
            </p>
          </div>
        </div>
      </div>
        <div class="modal_ingredients mobile">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
  
    </div>
    </div>
</div> 

<!-- Baseline Ingredients Item List END -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

