    <!-- IMMUNITY Modal Structure  1-->

    <div class="shop modal modal_multi  immunity_content modal-27">
        <div class="modal-content modal_container modal-content_1 functional_content">
           <div class="modal_section grid">
      <div class="left__content">
        <div class="spashIcon">
          <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.8193 41.5899C36.2252 41.5899 42.2289 35.7291 42.2289 28.4995C42.2289 21.2699 36.2252 15.4092 28.8193 15.4092C21.4134 15.4092 15.4097 21.2699 15.4097 28.4995C15.4097 35.7291 21.4134 41.5899 28.8193 41.5899Z" fill="#D3FFF1" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M47.9756 28.8193H54.9997" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2 28.8193H9.02409" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M28.8193 9.02409V2" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M28.8193 55.0002V47.9761" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M42.229 14.771L47.3374 9.6626" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M9.6626 47.3374L14.771 42.229" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14.771 14.771L9.6626 9.6626" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M47.3374 47.3375L42.229 42.8677" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="content_details">
          <div class="modal_heading-section">
            <div class="modal_titles">

              <div class="titles_0">
                <h2 class="heading_0">{{title}}</h2>
                <h4 class="sub__heading_0">
                  <p>whitening toothpaste</p>
                  <span>wild mint with sage</span>
                </h4>
              </div>
            </div>
          </div>
          
          <div class="modal__supplement-section">
            <div class="vitamins_box">
              <div class="supplement_title">
                <h3 class="box_title">
                  <span>Supplement Facts*</span>
                </h3>
              </div>
              <div class="titles_1">
                <a href="#" class="item__link">
                  <span>Vitamin D3 (30mcg)</span>,
                </a>
                <a href="#" class="item__link">
                  <span>Vitamin B12 (6mg)</span>
                </a>
              </div>
            </div>
          </div>
          
          <div class="modal_ingredients desktop">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
<!--           <div class="ingredient_see">
           <a href="https://duotoothpaste.com/pages/ingredients#{{title_down}}" class="see-full">See full ingredient list</a>
          </div> -->
        </div>
      </div>
      <div class="right__content">
        <div class="ingredient__details">
          <h2 class="ingredient__details_tag">{{tag}}3</h2>
          <div class="item-detail">
           <p class="ingredient__details_para"> {{tag}}3 -- the “sunshine vitamin” that keeps your bones, heart and immune system strong. More than 40% of adults in the United States are deficient in Vitamin D, with spikes in the winter months. Low mood and weakened physical immunity are just some of the consequences. Vitamin D bolsters immune defenses, muscle function and strength.  
				<br><br>In the mouth, Vitamin D prevents gum disease, tooth loss, and childhood cavities.
			</p>
          </div>
        </div>
      </div>
             <div class="modal_ingredients mobile">
            <div class="ingredients__lists">
            <p> *These supplements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
         </div>
          </div>
    </div>
        </div>
    </div>

    <!-- IMMUNITY Ingredients Item List End -->


   