
    <!-- SLEEP Modal Structure -->

    <!-- SLEEP Ingredients Item List START -->

    <div class="modal modal_multi sleep_content modal-103">

        <div class="modal-content modal_container modal-content_1 functional_content">
            <span class="close close_multi">×</span>

            <div class="modal_section grid">
                <div class="left__content">
                    <div class="content_details">
                        <div class="modal_heading-section">
                            <div class="modal_titles">
                                <div class="item_circle_1">
                                    <span class="circle"></span>
                                </div>
                                <div class="titles_0">
                                    <h2 class="heading_0">SLEEP</h2>
                                    <h4 class="sub__heading_0">Melatonin + L-theanine</h4>
                                </div>
                            </div>
                        </div>

                        <div class="modal__supplement-section">
                            <div class="vitamins_box">
                                <div class="supplement_title">
                                    <h3 class="box_title">
                                        <span>supplement facts</span>
                                    </h3>
                                </div>
                                <div class="titles_1">

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(1)">
                                        <span>Melatonin 1.5mg*</span>,
                                    </a>
                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(2)">
                                        <span>L-theanine 2.5mg</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="modal_ingredients">
                            <div class="ingredients__lists">

                                <div class="">
                                    <span class="sub_block">Other ingrediants</span>
                                </div>

                                <div>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(3)">
                                        <span>xylitol (birch extract)</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(4)">
                                        <span>cellulose</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(5)">
                                        <span>xanthan gum</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(6)">
                                        <span>nano-hydroxyapatite</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(7)">
                                        <span>calcium carbonate</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(8)">
                                        <span>menthol</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(9)">
                                        <span>hydrated silica</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(10)">
                                        <span>magnesium stearate</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(11)">
                                        <span>sodium bicarbonate</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(12)">
                                        <span>vitamins C and E</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(13)">
                                        <span>stevia leaf extract</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(14)">
                                        <span>lavender</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(15)">
                                        <span>french vanilla</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(16)">
                                        <span>peppermint</span>,
                                    </a>


                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(17)">
                                        <span>spearmint</span>,
                                    </a>

                                    <a href="javascript:void(0)" class="sleep_link9 item__link" onclick="sleep_currentSlide_9(18)">
                                        <span>wintergreen</span>
                                    </a>

                                </div>

                            </div>
                        </div>

                        <div class="logo-0">
                            <img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/RGB_nHa-Icon_Sleep_Black-Color.png?v=1646894774" alt="" class="logo_img">
                        </div>
                        <div class="below-content">

                            <p class="bottom-desp">
                                <span>
                            *These supplements have not been evaluated by the Food and Drug Administration. 
                              This product is not intended to diagnose, treat, or prevent any disease.
                        </span>
                            </p>

                        </div>

                    </div>

                </div>
                <div class="right__content">
                    <div class="ingredient__details">
                        <div class="item-detail">

                            <div class="ingredient-slider">
                                <!-- Immunity Slider -->


                                <ul class="ul_slider base_slider">

                                    <li class="sleep_Slider_9 ingredient_slider-list list__1">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>Melatonin</span>
                                                </h3>
                                                <h5 class="sub_title functional">
                                                    <span>functionals</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    More sleep and better sleep means better health, mood, metabolism, cognition, libido and overall quality of life. Melatonin is the natural hormone that regulates circadian rhythms and sleep. Our dose helps initiate and maintain sleep without the grogginess
                                                    or sedation of other sleep aids.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list  list__2">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>L-Theanine</span>

                                                </h3>
                                                <h5 class="sub_title functional">
                                                    <span>functionals</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Naturally occurring in a seeping cup of green tea, L-theanine invites slumber by reducing stress and calming your nerves.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <!-- <li class="sleep_Slider_9 ingredient_slider-list list__3">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>Vitamin B12 (energy)</span>
                                                </h3>
                                                <h5 class="sub_title functional">
                                                    <span>functionals</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Vitamin B12 helps keep your brain and nervous system strong by aiding in the formation of blood cells and neurological function. It’s an essential vitamin for DNA synthesis and cellular energy production. Beloved by those looking to elevate energy and
                                                    mood.
                                                </p>

                                            </div>

                                        </div>

                                    </li> -->


                                    <li class="sleep_Slider_9 ingredient_slider-list list__3">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>xylitol (birch extract)</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Derived from the fibrous part of plants, Xylitol starves bad bacteria and prevents the growth of cavity-causing plaque. Xylitol also stimulates saliva production (saliva is full of protective ions and enzymes which makes it evolution’s time-tested version
                                                    of toothpaste).
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__4">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>cellulose</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">
                                                <p class="slider_para">
                                                    Provides structure to plant cell walls in nature and provides structure to our tablets while helping soothe your gums.
                                                </p>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="sleep_Slider_9 ingredient_slider-list list__5">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>xanthan gum</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Proven to increase saliva production and protect against dry mouth, defend tooth enamel from acid erosion, and provide a soothing brushing experience.
                                                </p>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__6">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>nano-hydroxyapatite</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Nano-Hydroxyapetite (nHA) is a dentist-backed, non-toxic flouride alternative that’s been the cornerstone of Japanese toothpaste for decades. Tooth enamel is one of the only tissues in your body that cannot repair itself from within, which is why remineralization
                                                    is the most critical quality in a toothpaste. Hydroxyapatite is one of the three minerals that make up your teeth, and we included it in our tablets to remineralize your teeth and keep them strong.
                                                </p>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__7">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>calcium carbonate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Along with hydroxyapatite, calcium makes up the bulk of your tooth enamel. We added calcium carbonate because it provides calcium ions to help remineralize teeth, and also acts as a mild abrasive to polish and whiten.
                                                </p>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__8">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>menthol</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Menthol is an oil extract of the mint plant that has been used since ancient times to reduce pain and provide a cool, soothing sensation.
                                                </p>

                                            </div>

                                        </div>

                                    </li>


                                    <li class="sleep_Slider_9 ingredient_slider-list list__9">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>hydrated silica</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    One of the most abundant natural compounds on earth, we added hydrated silica to our toothpaste because it’s the perfect tooth polisher for superior whitening. A natural abrasive, it’s strong enough to get out stains but small enough to not scratch enamel.
                                                    Well-polished teeth not only feel good to your tongue, they make it harder for plaque-forming bacteria to latch on.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__10">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>magnesium stearate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    A vegetable-derived powder lubricant that aids in the tablet-making process.
                                                </p>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__11">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>sodium bicarbonate</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Enamel demineralization occurs when your mouth’s pH is 5.5. Not good! Sodium bicarbonate buffers acids to keep your pH balanced and your teeth strong.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__12">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>vitamins C and E</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    We added Vitamins C and E because of their antioxidant power. They soothe and rejuvenate your gums and cheeks and also scrub your mouth of free radicals, which may help prevent gingivitis and oral cancer.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__13">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>Stevia leaf extract</span>
                                                </h3>
                                                <h5 class="sub_title">
                                                    <span>base ingredient</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Stevia rebaundiana Bertoni, known affectionately as “honey leaf,” is a natural, calorie-free, cavity-fighting plant extract from South America.
                                                </p>

                                            </div>

                                        </div>
                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__14">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span> Lavender</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Cinnamon is derived from the bark of what is known as the eternal tree of tropical medicine and used for its anti-inflammatory and antioxidant power.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__15">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>French Vanilla</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Literally translating to “tea” in Mandarin, the chai popularized in chai tea lattes is the antioxidant black tea perfected in India.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__16">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>peppermint</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    A hybrid mint – a cross between watermint and spearmint – indigenous to Europe and the Middle East used to ease inflammation and indigestion.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__17">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>spearmint</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    Also known as garden mint, a species of mint native to Europe and southern Asia that was introduced into England through the Romans by the 5th century and ​​used for its antimicrobial activity.
                                                </p>

                                            </div>

                                        </div>



                                    </li>

                                    <li class="sleep_Slider_9 ingredient_slider-list list__18">

                                        <div class="list_contents0">

                                            <div class="slider_title">
                                                <h3 class="title_0">
                                                    <span>wintergreen</span>
                                                </h3>
                                                <h5 class="sub_title flavour">
                                                    <span>flavour</span>
                                                </h5>
                                            </div>

                                            <div class="ingredient_slider-content ingredient_item-desp">

                                                <p class="slider_para">
                                                    An herb with a minty flavor that has been used for centuries as a topical pain reliever and anti-inflammatory.
                                                </p>

                                            </div>

                                        </div>

                                    </li>

                                </ul>

                                <a class="prev" onclick="sleep_plusSlide_9(-1)"><i class="arrow left"></i></a>
                                <a class="next" onclick="sleep_plusSlide_9(1)"><i class="arrow right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- SLEEP Ingredients Item List End -->

 <script>
        var sleep_slideIndex_9 = 1;
        sleep_showSlide_9(sleep_slideIndex_9);

        function sleep_plusSlide_9(n) {
            sleep_showSlide_9(sleep_slideIndex_9 += n);
        }

        function sleep_currentSlide_9(n) {
            sleep_showSlide_9(sleep_slideIndex_9 = n);
        }

        function sleep_showSlide_9(n) {
            var i;
            var sleep_slides_9 = document.getElementsByClassName("sleep_Slider_9");
            var sleep_dots_9 = document.getElementsByClassName("sleep_link9");

            if (n > sleep_slides_9.length) {
                sleep_slideIndex_9 = 1
            }
            if (n < 1) {
                sleep_slideIndex_9 = sleep_slides_9.length
            }
            for (i = 0; i < sleep_slides_9.length; i++) {
                sleep_slides_9[i].style.display = "none";
            }
            for (i = 0; i < sleep_dots_9.length; i++) {
                sleep_dots_9[i].className = sleep_dots_9[i].className.replace(" active", "");
            }
            sleep_slides_9[sleep_slideIndex_9 - 1].style.display = "block";
            sleep_dots_9[sleep_slideIndex_9 - 1].className += " active";

        }
    </script>

    <!-- SLEEP Ingredients Item List END -->