
.endrock-product {
  .main-product {
    padding-bottom: 50px;

    .page-width {
      padding-left: 141px;
      padding-right: 141px;
      max-width: 1440px;
    }

    .product__media-wrapper {
      flex-direction: row;
    }

    .grid__item {
      .media {
        position: initial;
      }
    }

  }

  @media screen and (max-width: 700px) {
    .main-product {
      padding-top: 0;

      .page-width {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .product__media {
        img {
          border-radius: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 550px) {
    .grid {
      display: flex;
    }
  }



  /* product info */
  .product__info-wrapper {
    .product__info-container {
      border: none;
      padding: 0;

      .product__title {
        color: #000;
        font-family: "OldschoolGrotesk-Regular";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        margin-bottom: 5px;
      }

      .first_description {
        color: #000;
        font-family: "OldschoolGrotesk-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.24px;
      }

      .product__text {
        &.subtitle {
          color: #000;
          font-family: "OldschoolGrotesk-Regular";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 1.6px;
          text-transform: uppercase;
          margin-top: 6px;
        }
      }

      .product__accordion {
        margin-top: 12px;
      }
    }

    product-form {
      margin-bottom: 0;
    }

    .info-shipping, .info-shipping p {
      margin: 0;
      color: #3F3F3F;
      font-family: "OldschoolGrotesk-Regular";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }

    .show-delivery-time {
      color: #3F3F3F;
      font-family: "OldschoolGrotesk-Medium";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      margin-top: 18px;
    }

    .link-custom, .link-custom a {
      display: flex;
      align-items: center;
      color: #000;
      font-family: "OldschoolGrotesk-Medium";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      text-decoration: underline;
    }

    .summary__title {
      h2 {
        color: #000;
        font-family: "OldschoolGrotesk-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.6px;
        text-transform: uppercase;
      }
      
    }

    .accordion+.accordion {
      margin-top: 0 !important;
    }

    .accordion {
      border-color: #000;
    }

    @media screen and (max-width: 700px) {
      padding-left: 5px !important;
      padding-right: 5px !important;

      .product__title {
        margin-top: 30px;
      }
    }
  }




    /* slider product main */
  .product-gallery {
    .swiper-container {
      margin: initial;
      position: sticky;
      top: 60px;
    }
    .arrow-swiper {
      display: none;
    }
    .gallery-thumbs {
      float: left;
      height: 625px;
      margin-right: 22px;
    }
    
    .gallery-thumbs .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
      width: 88px !important;
      height: 88px !important;
    }
    
    .gallery-thumbs .swiper-slide-thumb-active {
      border: 1px solid rgb(0, 0, 0);
    }
    
    .gallery-thumbs .swiper-slide:hover {
      border: 1px solid grey;
    }
    
    .gallery-top {
      float: left;
      width: 69.4%;;
      aspect-ratio: 429 / 625;
      max-height: 625px;

      .product__media-item {
        width: 100% !important;
      }
    }
    
    .gallery-top .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    @media screen and (max-width: 844px) {
      .gallery-thumbs {
        display: none;
      }
      .gallery-top {
        width: 100%;
        aspect-ratio: 429 / 625;
      }
    }
    
  }
  
  

  /* variants */
  .variants_wrapper {
    variant-radios {
      .variant-field__price {
        font-family: 'OldschoolGrotesk-Medium';
        padding: 10px;
        background-color: #fff;
      }
  
      .product-form__input--radio {
        gap: 0.57rem;
        flex-direction: column;
        margin-top: 14px;

        input[type='radio']:checked+label .checkbox {
          &::after {
            content: "";
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: black;
            display: block;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
          }
        }

        label {
          border-radius: 0;
          min-height: initial;
          border-color: #000;
          

          > span {
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;

            .variant-field__name {
              display: flex;
              align-items: center;
              margin-top: 0;

              .checkbox {
                width: 28px;
                height: 27px;
                border: 1px solid;
                border-radius: 50%;
                margin-right: 8px;
                position: relative;
              }
            }

            .variant-field__sale {
              display: flex;
              height: 27px;
              font-size: 12px!important;
              display: flex!important;
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: 5px 15px 1px;
              line-height: normal;
              position: absolute;
              bottom: 50%;
              right: 50%;
              transform: translate(50%, 50%);
            }

            span {
              margin-bottom: 0;
            }

            s {
              font-weight: 400;
              margin-right: 5px;
            }
          }
        }
      }
    }
    
  }
}



/* 

OldschoolGrotesk-ExtraLight
OldschoolGrotesk-Medium
OldschoolGrotesk-Regular
Schnyder-SLight-Italic
Schnyder-SLight
*/