.page-width {
  padding-left: 141px !important;
  padding-right: 141px !important;
  max-width: 1440px !important;
  margin: 0 auto;
}

@media screen and (max-width: 995px) {
  .page-width {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}

@media screen and (max-width: 700px) {
  .page-width {
    padding-left: 10px !important;
    padding-right: 10px !important;

    &--mobil-none {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}