<style>
  .shop-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    max-width: fit-content;
    gap: 15px;
    margin: auto;
    overflow: auto;
  }

  .item {
    cursor: pointer;
  padding: 10px 25px 5px 25px;
  border: 1px solid #000;
  border-radius: 0px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  min-width: fit-content;
  font-family: OldschoolGrotesk-Regular;
  margin-left: 5px;
  }

  .endrock-featured-collection__container {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .shop-container {
    max-width: 810px;
  margin: auto;
  padding-top: 30px;
  font-family: OldschoolGrotesk-Regular;
  }

  .section-content {
    padding: 20px;
    border: 2px solid #000;
    margin-top: 20px;
  }
  .icon-with-text__wrapper .iwt-item__heading {  
    margin-left: 5px;
}


/* Estilo general para el contenedor con desplazamiento */
.scrollable-container {
  width: 300px;
  height: 200px;
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

/* Estilo específico para el contenido desplazable */
.shop-all {
  width: 100%;
  height: 100%;
  overflow-y: scroll; /* Habilita el desplazamiento vertical */
  padding-right: 17px; /* Ajusta el espacio para la posible barra de desplazamiento */
}

/* Estilo específico para la barra de desplazamiento de Webkit (Chrome y Safari) */
.shop-all::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento en Webkit */
}

/* Estilo específico para la barra de desplazamiento del pulgar de Webkit */
.shop-all::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hace que el pulgar de la barra de desplazamiento sea transparente en Webkit */
}



@media (max-width: 767px) {

.shop-all {
  gap: 0px!important;

justify-content: normal!important;
 
  }

.item {
  cursor: pointer;
    padding: 5px 10px!important;
    border: 1px solid #000;
    border-radius: 0px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px!important;
}



  .section-endrock-hero-image .hero-banner__content {
    position: absolute;
    margin-top: 0px!important;

  }


}


  @media (max-width: 768px) {

  .why-duo-mobile__media img {
    width: 100%;
    height: 620px!important;
    object-fit: cover!important;
    object-position: center!important;
  }
  .why-duo_wrapper .content-container {
  
    padding-top: 80px;
  }

  .why-duo_wrapper {
    padding-right: 0!important;
    padding-left: 0!important;
    background: #fee367!important;


  .section-endrock-hero-image .hero-banner__text h2 {
    margin: 0 !important;
    padding-top: 110px;
  }

}



.endrock-featured-collection__container{

padding:0px !important;
}


.section-endrock-hero-image {
  padding: 0px!important;
  }
}


  .hero-banner__text h2 {
  margin: 0;
}


.icon-with-text__wrapper .iwt-item {
    gap: 18px!important;
}


</style>

<script>

function scrollToSection(section) {
  const elements = document.querySelectorAll("." + section);
  if (elements.length > 0) {
    const offset = -110;
    window.scrollTo({
      top: elements[0].offsetTop + offset,
      behavior: "smooth"
    });
  }
}

function handleItemClick(section) {
  scrollToSection(section);
}

document.addEventListener("DOMContentLoaded", function () {
  const items = document.querySelectorAll(".item");
  items.forEach(function (item) {
    item.addEventListener("click", function () {
      const section = item.getAttribute("data-section");
      handleItemClick(section);
    });
  });
});

</script>

<div class="endrock-featured-collection__container">
  <h3 class="shop-container cardthree">
    Filter By
  </h3>
  <section id="all" class="shop-all all">

    <!-- Agrega el contenido de tu sección Shop All aquí -->
    <div class="item" data-section="all">Shop all</div>
    <div class="item" data-section="singles">Singles</div>
    <div class="item" data-section="bundles">Bundles</div>
    <div class="item" data-section="starter-pack">Starter Pack</div>
    <div class="item" data-section="singles">Best sellers</div>

    <!-- Agrega más elementos según tus necesidades -->
  </section>
</div>
