<style>
  {%- if section.settings.none_margin -%}
    .spaced-section {
      margin-top: 0;
    }
  {%- endif -%}
</style>

<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "checkbox",
      "id": "none_margin",
      "default": false,
      "label": "Margin top none"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
