<div class="badge-meta-image">
  <div class="badge-image">
    <img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Badges.png?v=1640579092" class="singleimage">
  </div>
  <div class="names">
    <ul class="ul">
      <li>Dentist made</li>
      <li>All natural</li>
      <li>Clean ingredients</li>
      <li>Sustainable</li>
      <li>Travel friendly</li>     
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Badge List",
    "settings": [],
	"presets": [
    {
    "name": "Badge List",
    "category": "Custom"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
