/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/products.scss ***!
  \*****************************************************************************************************************/
.page-width {
  padding-left: 141px !important;
  padding-right: 141px !important;
  max-width: 1440px !important;
  margin: 0 auto;
}

@media screen and (max-width: 995px) {
  .page-width {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
@media screen and (max-width: 700px) {
  .page-width {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .page-width--mobil-none {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.endrock-product {
  /* product info */
  /* slider product main */
  /* variants */
}
.endrock-product .main-product {
  padding-bottom: 50px;
}
.endrock-product .main-product .page-width {
  padding-left: 141px;
  padding-right: 141px;
  max-width: 1440px;
}
.endrock-product .main-product .product__media-wrapper {
  flex-direction: row;
}
.endrock-product .main-product .grid__item .media {
  position: initial;
}
@media screen and (max-width: 700px) {
  .endrock-product .main-product {
    padding-top: 0;
  }
  .endrock-product .main-product .page-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .endrock-product .main-product .product__media img {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .endrock-product .grid {
    display: flex;
  }
}
.endrock-product .product__info-wrapper .product__info-container {
  border: none;
  padding: 0;
}
.endrock-product .product__info-wrapper .product__info-container .product__title {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 5px;
}
.endrock-product .product__info-wrapper .product__info-container .first_description {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.endrock-product .product__info-wrapper .product__info-container .product__text.subtitle {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-top: 6px;
}
.endrock-product .product__info-wrapper .product__info-container .product__accordion {
  margin-top: 12px;
}
.endrock-product .product__info-wrapper product-form {
  margin-bottom: 0;
}
.endrock-product .product__info-wrapper .info-shipping, .endrock-product .product__info-wrapper .info-shipping p {
  margin: 0;
  color: #3F3F3F;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.endrock-product .product__info-wrapper .show-delivery-time {
  color: #3F3F3F;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  margin-top: 18px;
}
.endrock-product .product__info-wrapper .link-custom, .endrock-product .product__info-wrapper .link-custom a {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  text-decoration: underline;
}
.endrock-product .product__info-wrapper .summary__title h2 {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.endrock-product .product__info-wrapper .accordion + .accordion {
  margin-top: 0 !important;
}
.endrock-product .product__info-wrapper .accordion {
  border-color: #000;
}
@media screen and (max-width: 700px) {
  .endrock-product .product__info-wrapper {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .endrock-product .product__info-wrapper .product__title {
    margin-top: 30px;
  }
}
.endrock-product .product-gallery .swiper-container {
  margin: initial;
  position: sticky;
  top: 60px;
}
.endrock-product .product-gallery .arrow-swiper {
  display: none;
}
.endrock-product .product-gallery .gallery-thumbs {
  float: left;
  height: 625px;
  margin-right: 22px;
}
.endrock-product .product-gallery .gallery-thumbs .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 88px !important;
  height: 88px !important;
}
.endrock-product .product-gallery .gallery-thumbs .swiper-slide-thumb-active {
  border: 1px solid rgb(0, 0, 0);
}
.endrock-product .product-gallery .gallery-thumbs .swiper-slide:hover {
  border: 1px solid grey;
}
.endrock-product .product-gallery .gallery-top {
  float: left;
  width: 69.4%;
  aspect-ratio: 429/625;
  max-height: 625px;
}
.endrock-product .product-gallery .gallery-top .product__media-item {
  width: 100% !important;
}
.endrock-product .product-gallery .gallery-top .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 844px) {
  .endrock-product .product-gallery .gallery-thumbs {
    display: none;
  }
  .endrock-product .product-gallery .gallery-top {
    width: 100%;
    aspect-ratio: 429/625;
  }
}
.endrock-product .variants_wrapper variant-radios .variant-field__price {
  font-family: "OldschoolGrotesk-Medium";
  padding: 10px;
  background-color: #fff;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio {
  gap: 0.57rem;
  flex-direction: column;
  margin-top: 14px;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio input[type=radio]:checked + label .checkbox::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  display: block;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label {
  border-radius: 0;
  min-height: initial;
  border-color: #000;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span .variant-field__name {
  display: flex;
  align-items: center;
  margin-top: 0;
  width: 50%;
  text-align: left;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span .variant-field__name .checkbox {
  width: 25px;
  height: 24px;
  min-width: 25px;
  min-height: 24px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span .variant-field__sale {
  display: flex;
  height: 27px;
  font-size: 10px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px 10px 1px;
  line-height: normal;
  position: absolute;
  bottom: 50%;
  right: 40%;
  transform: translate(50%, 50%);
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span span {
  margin-bottom: 0;
}
.endrock-product .variants_wrapper variant-radios .product-form__input--radio label > span s {
  font-weight: 400;
  margin-right: 5px;
}

/* 

OldschoolGrotesk-ExtraLight
OldschoolGrotesk-Medium
OldschoolGrotesk-Regular
Schnyder-SLight-Italic
Schnyder-SLight
*/
.breadcrumbs {
  margin: 30px 0 15px;
}
.breadcrumbs__list {
  padding: 0;
}
.breadcrumbs__item {
  display: inline-block;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}
.breadcrumbs__item a {
  color: #746F6F;
  text-decoration: none;
}
.breadcrumbs__item:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin: 0 1px;
  position: relative;
  width: 0.2em;
}
.breadcrumbs__item:last-child {
  margin-left: 6px;
}
.breadcrumbs__link {
  color: black;
}
.breadcrumbs__link[aria-current=page] {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .breadcrumbs {
    display: none;
  }
}

.product-form__buttons .button--primary {
  background: #181818;
  border-radius: 0;
  padding: 0;
  height: 34.819px;
  min-height: 100%;
}
.product-form__buttons .button--primary span {
  color: #FFF;
  text-align: center;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.loop-subscription-container .switches-container {
  border-bottom: 1px solid;
  border-radius: 0;
}
.loop-subscription-container .switches-container .subsgo span, .loop-subscription-container .switches-container .onetimego span {
  color: #000000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.loop-subscription-container .switches-container .switch {
  background: #fff;
}
.loop-subscription-container .switches-container .switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  font-family: "OldschoolGrotesk-Medium";
  letter-spacing: 1.6px;
  color: #000000;
}
@media screen and (max-width: 700px) {
  .loop-subscription-container .switches-container .subsgo span, .loop-subscription-container .switches-container .onetimego span {
    font-size: 13px;
  }
  .loop-subscription-container .switches-container .switch div {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
  }
}
.loop-subscription-container .legend-right {
  padding: 17px;
  border: 1px solid;
  margin-top: 16px;
}
.loop-subscription-container .loop-selling-plan-fieldset {
  border-radius: 0 !important;
}
.loop-subscription-container .loop-selling-plan-selector-style {
  width: auto !important;
  display: block !important;
  border-color: #000 !important;
  border-width: 1px !important;
  margin: 0 0 0 12px !important;
  padding: 0.5em 2.5em 0.5em 0.7em !important;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 1em, calc(100% - 15px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 1.5em;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: dotted;
  border-radius: 0 !important;
}
.loop-subscription-container .selector-custom {
  color: #746F6F;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.7px;
}
.loop-subscription-container .legend-right .aditional-info-subscription, .loop-subscription-container .legend-right .aditional-info-order {
  margin: 0;
  text-align: right;
  color: #3F3F3F;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  border-bottom: 1px solid;
  margin-top: 12px;
  padding-bottom: 8px;
}
.loop-subscription-container .legend-right .aditional-info-order {
  font-size: 14px;
  text-align: left;
  border-bottom: none;
  margin-top: 16px;
  line-height: 1.5;
}
.loop-subscription-container .item_include {
  display: flex;
  margin-top: 10px;
  column-gap: 6px;
}
.loop-subscription-container .icon-info {
  display: flex;
  align-items: center;
}
.loop-subscription-container .icon-info .icon {
  display: flex;
}
.loop-subscription-container .icon-info .text {
  line-height: normal;
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 4px;
}
.loop-subscription-container .container-select-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.loop-subscription-container .container-select-price .price-save-subscription {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.loop-subscription-container .container-select-price .price-save-subscription span {
  line-height: normal;
  font-family: "OldschoolGrotesk-Regular";
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__price {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__price .price-subscription {
  display: flex;
  flex-direction: column;
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__price .price-subscription .price-subcription-compare {
  color: #b1b1b1;
  font-size: 13px;
  margin-bottom: 2px;
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__price .price-subscription .save-subscription {
  color: #00497E;
  text-align: right;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__sale {
  color: #00497E;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
.loop-subscription-container .container-select-price .price-save-subscription .variant-field__sale p {
  display: inline;
}
@media screen and (max-width: 700px) {
  .loop-subscription-container .container-select-price .loop-subscription-group-selling-plans-container {
    font-size: 12px;
  }
  .loop-subscription-container .container-select-price .loop-subscription-group-selling-plans-container .selector-custom {
    font-size: 12px !important;
    margin-left: 4px !important;
  }
  .loop-subscription-container .loop-selling-plan-selector-style {
    width: 57% !important;
  }
  .loop-subscription-container .legend-right {
    padding: 9px;
  }
  .loop-subscription-container .legend-right .item_include {
    column-gap: 4px;
    margin-top: 7px !important;
  }
  .loop-subscription-container .legend-right .item_include .text {
    font-size: 7px;
  }
}

.content-table .title {
  margin: 0;
  margin-right: 3px;
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.21px;
}
.content-table .content {
  margin-left: 3px;
  color: #000;
  text-align: right;
  font-family: "OldschoolGrotesk-ExtraLight";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.21px;
}
.content-table .table-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-table .dots {
  flex: 1;
}
.content-table .dots::after {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed black;
}
@media screen and (max-width: 700px) {
  .content-table .title, .content-table .content {
    font-size: 12px;
  }
}

.description-dorpdown {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.description-dorpdown p {
  margin: 0;
}

.comparation-dropdown {
  display: flex;
  margin-top: 20px;
  column-gap: 3px;
}
.comparation-dropdown .comparation-dropdown__container-duo {
  width: 45%;
}
.comparation-dropdown .comparation-dropdown__container-duo .icon-duo {
  margin-top: 6px;
}
.comparation-dropdown .comparation-dropdown__container-duo .comparation-dropdown__list-duo ul li {
  border: 0.5px dashed #73CCEA;
  color: #00497E;
}
.comparation-dropdown .comparation-dropdown__list-suplement ul li {
  border: 0.5px dashed #505050;
  color: #505050;
}
.comparation-dropdown .comparation-dropdown__container-suplement {
  width: 55%;
  color: #505050;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.comparation-dropdown ul {
  padding-left: 0 !important;
}
.comparation-dropdown ul li {
  list-style: none;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 14px 5px;
}
.comparation-dropdown ul li svg {
  margin-top: 0;
  margin-right: 8px;
}
@media screen and (max-width: 700px) {
  .comparation-dropdown .comparation-dropdown__container-suplement {
    font-size: 14px;
  }
  .comparation-dropdown ul li {
    font-size: 11px;
    letter-spacing: normal;
  }
  .comparation-dropdown ul li svg {
    margin-right: 5px;
    width: 12px;
    height: 12px;
  }
}

.content-check {
  display: flex;
  flex-wrap: wrap;
}
.content-check .content-check--item {
  font-family: "OldschoolGrotesk-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 10px 5px;
  width: 50%;
  color: #00497E;
}
.content-check .content-check--item svg {
  margin-top: 0;
  margin-right: 8px;
  min-width: 12px;
}
@media screen and (max-width: 700px) {
  .content-check .content-check--item {
    font-size: 11px;
    letter-spacing: normal;
  }
  .content-check .content-check--item svg {
    margin-right: 4px;
  }
}

.dual-section-endrock {
  margin-top: 0 !important;
}
.dual-section-endrock .image-with-text {
  margin-bottom: 0px !important;
}
@media screen and (max-width: 700px) {
  .dual-section-endrock .image-with-text .image-with-text__grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 700px) and (min-width: 580px) {
  .dual-section-endrock .image-with-text .image-with-text__grid .grid__item {
    width: 100%;
  }
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt {
  gap: 0;
  padding: 40px 96px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__heading {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px; /* 114.583% */
  letter-spacing: -0.72px;
  font-family: "Schnyder S";
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container {
  display: flex;
  column-gap: 25px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container .item-step {
  max-width: 110px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container .item-step label {
  border: 1px solid;
  border-radius: 100%;
  text-align: center;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  width: 29.6px;
  height: 27px;
  display: block;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container .item-step p {
  font-family: "OldschoolGrotesk-Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__text.rte {
  margin-top: 15px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__text.rte p {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .product__accordion {
  width: 100%;
  border-color: #000;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .product__accordion .accordion__title {
  color: #000;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .product__accordion .description-dorpdown {
  margin-left: 40px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .product__accordion .description-dorpdown p {
  color: #746F6F;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .link_button-page {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .link_button-page .button-er {
  color: #fff;
  font-family: "OldschoolGrotesk-Medium";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  padding: 12.972px 3px 11px;
  justify-content: center;
  align-items: center;
  gap: 9.979px;
  display: flex;
  background: #000;
  text-decoration: none;
  width: 40%;
  line-height: 1;
  text-align: center;
}
.dual-section-endrock .image-with-text__content.image-with-text__content--adapt .link_button-page .link-er {
  color: #000;
  font-family: OldschoolGrotesk-Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 560;
  line-height: 24px;
  letter-spacing: -0.18px;
  width: 50%;
}
@media screen and (max-width: 700px) {
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt {
    padding: 10px;
    align-items: center;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__heading {
    font-size: 40px;
    padding: 0 45px;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__heading img {
    display: none;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .image-with-text__text.rte {
    padding: 0 15px;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .product__accordion .description-dorpdown {
    margin-left: 8px;
    text-align: left;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container .item-step {
    max-width: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .steps-container .item-step p {
    text-align: left;
    font-size: 15px;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .link_button-page {
    justify-content: center;
  }
  .dual-section-endrock .image-with-text__content.image-with-text__content--adapt .link_button-page .button-er {
    width: 70%;
  }
}

.row-icons {
  background: #E2EBF2;
}
.row-icons h2, .row-icons h1, .row-icons h3, .row-icons h4, .row-icons p {
  text-align: center;
}
.row-icons .full-width {
  width: 100%;
}
.row-icons .medium-width {
  max-width: 685px;
  margin: 0 auto;
}
.row-icons .footer-description {
  font-family: "OldschoolGrotesk-Regular";
  line-height: 124%;
  color: #000;
}
.row-icons__elements {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.row-icons__elements.flex > :not(:last-of-type) {
  margin-right: 0;
}
@media screen and (max-width: 850px) {
  .row-icons__elements {
    flex-wrap: nowrap;
    --gap-flex: 0;
  }
}
@media screen and (max-width: 650px) {
  .row-icons__elements.slider-mobile {
    --justify: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row-icons__elements.slider-mobile .row-icons__element {
    flex-shrink: 0;
    width: auto;
    padding: 0 20px;
  }
  .row-icons__elements.slider-mobile::-webkit-scrollbar {
    display: none;
  }
}
.row-icons__description h3 {
  margin-bottom: 0 !important;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}
.row-icons__description > div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.row-icons__description > div strong {
  font-weight: 600;
}
.row-icons__element {
  width: 160px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.row-icons__element img {
  width: 73px;
  height: 73px;
}
@media screen and (max-width: 850px) {
  .row-icons__element {
    width: 15%;
  }
  .row-icons__element img {
    width: 33px;
    height: 33px;
  }
}
@media screen and (max-width: 425px) {
  .row-icons__element {
    padding: 0;
  }
  .row-icons__element.position__left {
    justify-content: center;
  }
}
.row-icons__element h3 {
  margin: 10px 0;
}
.row-icons__element.position__left {
  justify-content: space-around;
}
.row-icons__element.position__left img {
  margin-right: 20px;
  width: 120px;
  height: 110px;
}
.row-icons__element.position__left h3 {
  font-size: 20px;
}
.row-icons__element.position__top {
  justify-content: center;
  flex-direction: column;
}
.row-icons__element.position__top h3 {
  font-size: 16px;
  text-align: center;
}
.row-icons__element.position__top p {
  text-align: center;
}
@media screen and (max-width: 850px) {
  .row-icons__element.position__top h3 {
    font-size: 12px;
    line-height: normal; /* 150% */
    letter-spacing: normal;
  }
}

.image-banner-product {
  height: 460px;
  background-size: cover;
}
.image-banner-product__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 140px;
  height: 100%;
  padding-bottom: 62px;
  padding-top: 62px;
  position: relative;
}
.image-banner-product__title {
  font-family: "OldschoolGrotesk-Regular";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 107.143% */
  letter-spacing: -0.84px;
}
.image-banner-product__description p {
  font-family: "OldschoolGrotesk-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}
.image-banner-product__logos-aditional {
  position: absolute;
  right: 0;
  bottom: 60px;
  display: flex;
  flex-direction: column;
}
.image-banner-product__logos-aditional .text-sign {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 100%;
  justify-content: space-around;
}
.image-banner-product__logos-aditional .text-sign p {
  color: #000;
  text-align: center;
  font-family: "OldschoolGrotesk-Regular";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}
@media screen and (max-width: 1189px) {
  .image-banner-product__container {
    width: 60%;
    padding-left: 90px;
  }
}
@media screen and (max-width: 900px) {
  .image-banner-product__container {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (max-width: 700px) {
  .image-banner-product__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .image-banner-product__title {
    text-align: center;
  }
  .image-banner-product__logos-aditional {
    right: 16px;
    bottom: 410px;
  }
}
