.section-pdp-attributes{
	--product-color: 255, 255, 255;
	background-color: rgb(var(--product-color));
	background-repeat: no-repeat;
	background-position: right 2.5rem;
	background-size: auto 300px;
	padding: 18.4rem 0 6rem;
}
.pdp-attributes__header{
	margin-bottom: 4.2rem;
}
.pdp-attributes__header .title{
	font-size: 6rem;
	font-weight: 600;
	line-height: 1.05;
	letter-spacing: 0.01em;
	margin: 0 0 1.4rem;
}
.pdp-attributes__description{
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 1.4;
	text-wrap: balance;
}
.pdp-attributes__description > *{
	margin-top: 0;
}
.pdp-attributes__description > :last-child{
	margin-bottom: 0;
}
.pdp-attributes__content{
	margin-bottom: 4.5rem;
}
.pdp-attributes__item{
	display: flex;
	gap: 2.3rem;
}
.pdp-attributes__item:not(:last-child){
	margin-bottom: 2.8rem;
}
.pdp-attributes__item-icon{
	width: 4.5rem;
	height: 4.5rem;
	flex-shrink: 0;
}
.pdp-attributes__item-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.pdp-attributes__item-content{
	flex: 1
}
.pdp-attributes__item-title{
	font-size: 2.5rem;
	font-weight: 600;
	margin: 0 0 1.1rem;
	line-height: 1.1;
	text-wrap: balance;
}
.pdp-attributes__item-text{
	font-size: 1.4rem;
	line-height: 1.6;
	text-wrap: balance;
}
.pdp-attributes__item-text > *{
	margin-top: 0;
}
.pdp-attributes__item-text > :last-child{
	margin-bottom: 0;
}
.pdp-attributes__footer{
	text-align: center;
}
.pdp-attributes__atc .product-form__submit{
	background: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	padding: 1.7rem 2.5rem 1.8rem;
	min-height: 0;
	margin: 0;
}
.atc__product-name{
	display: none!important;
}
.pdp-attributes__cta{
	margin-top: 1.6rem;
}
.pdp-attributes__cta a{
	color: rgb(var(--color-foreground));
	font-size: 1.2rem;
	letter-spacing: -0.05rem;
	font-weight: 500;
	line-height: 1.4;
	text-decoration-line: underline;
	transition: opacity .3s ease-in-out;
	text-wrap: balance;
	display: inline-block;
}
.pdp-attributes__cta a:hover{
	opacity: .8;
}
@media (min-width: 315px){
	.atc__product-name{
		display: initial!important;
	}
	.pdp-attributes__cta a{
		font-size: 1.4rem;
	}
}
@media (min-width: 350px){
	.pdp-attributes__atc .product-form__submit{
		font-size: 1.8rem;
	}
	.pdp-attributes__cta a{
		letter-spacing: 0;
	}
}
@media (min-width: 450px){
	.pdp-attributes__cta a{
		font-size: 1.6rem;
	}
}
@media (min-width: 750px){
	.section-pdp-attributes{
		background-position: right 7rem;
		background-size: 28% auto;
		padding: 8rem 0 8rem;
	} 
	.pdp-attributes__content,
	.pdp-attributes__header{
		max-width: 60rem;
	}
	.pdp-attributes__header .title{
		font-size: 7.5rem;
		line-height: 1;
		margin-bottom: 1rem;
	}
    .template-product--energy .pdp-attributes__header{
      max-width: 64rem;
    }
	.pdp-attributes__item-icon {
		width: 6.5rem;
		height: 6.5rem;
	}
	.pdp-attributes__item-title{
		font-size: 3.8rem;
	}
	.pdp-attributes__item-text{
		font-size: 2.2rem;
	}
	.pdp-attributes__atc .product-form__submit{
		font-size: 2rem;
		padding-right: 3.5rem;
		padding-left: 3.5rem;
	}
	.pdp-attributes__cta a{
		font-size: 1.8rem;
	}
}
@media (min-width: 975px){
  .pdp-attributes__header .title{
		font-size: 9rem;
	}
}