/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: calc(var(--font-body-scale) * 62.5%);
	background: linear-gradient(180deg, #4CAAF6 0%, #4CAAF6 100%);
}

body {
/*   background-color: rgb(var(--color-background)); */
  background: linear-gradient(180deg, #4CAAF6 0%, #4CAAF6 100%);
  color: rgb(var(--color-foreground));
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

h1, h2, h3, h4{
  color: #000;
}
p, span, input, button{
  color: #000;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

/* Password Section */

.full-height {
  height: 100%;
}

.password {
/*   background-color: linear-gradient(180deg, #4CAAF6 0%, #4CAAF6 100%); */
  background: linear-gradient(180deg, #4CAAF6 0%, #4CAAF6 100%);
/*   background-color: rgb(var(--color-background)); */
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 26px;
/*   height: 1.8rem; */
/*   margin-right: 1rem; */
}
.password-sec .form-status-list {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 19px;
  font-weight: 500;
}
.password-sec .form-status {
 margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
}
.password-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

.password-modal .password-form {
  max-width: 50rem;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

.password-field.field {
  display: block;
  flex: 1 20rem;
}

.password-field .form__message {
  margin-top: 1.5rem;
}

.password-button {
  margin-top: 3rem;
  width: 100%;
}

@media only screen and (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
    margin-top: 0;
    margin-left: 2rem;
    width: auto;
    align-self: start;
  }
}

.password-logo {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .password-logo {
    margin-bottom: 0;
    margin-top: 16rem;
  }
}

.password-heading {
  margin-top: 5rem;
  font-weight: 400;
}

.password-main {
  flex-grow: 1;
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.password-main > section:only-child .newsletter__wrapper {
  width: 100%;
  background-color: transparent;
}

.password-main
  > section:only-child
  > :not(.newsletter--narrow)
  > .newsletter__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password__footer-text a {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
    color:#fff;
}

.rightsideimage{
 	display: none; 
}
.password-field.field input {
    border: 1px solid #fff;
}


.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: rgb(var(--color-foreground));
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
 
  color: #000;
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0;
  color: rgb(var(--color-link));
}

.modal__toggle,
.modal__close-button {
  list-style-type: none;
}

details[open] .modal__toggle,
.modal__close-button {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  padding: 0.8rem;
  color: rgb(var(--color-foreground));
  background-color: transparent;
}

.no-js .modal__close-button {
  display: none;
}

.no-js .modal__toggle {
  z-index: 2;
}

.modal__toggle::-webkit-details-marker {
  display: none;
}

details.modal .modal__toggle-close {
  display: none;
}

details[open].modal .modal__toggle-close {
  background: rgb(var(--color-background));
  cursor: pointer;
  display: flex;
  padding: 0.8rem;
  z-index: 1;
}

details[open].modal .modal__toggle-close svg,
.modal__close-button svg {
  height: 1.7rem;
  width: 1.7rem;
}
.button, .shopify-challenge__button, .customer button{
 min-width: 9rem; 
}
details[open].modal .modal__toggle-close:hover {
  opacity: 0.75;
}

.js details[open].modal .modal__toggle-close {
  display: none;
}

details.modal .modal__toggle-open {
  display: flex;
  font-style: initial;
  font-size: 16px;
/*   font-weight: 600; */
  letter-spacing: 2px;
  text-decoration: none;
}

.no-js details[open].modal .modal__toggle-open {
  display: none;
}

.password-header {
 display: block;
padding: 0;
text-align: center;
  position:relative;
}
#shopify-section-main-password-footer{
 	background: #FECC41;
	color: #000;	 
}

@media only screen and (min-width: 750px) {
  .password-header {
    display: block;
padding: 0;
text-align: center;
  }
}

.password-header details-modal {
  flex-shrink: 0;
}

.password-content {
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
  }
}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground));
}

.password-modal {
  justify-self: flex-end;
}

.password-header:before {
   position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Tabs.png?v=1653544764);
    position: absolute;
    left: 0;
    top: 0;
    width: 330px;
    height: 400px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.password-header:after {
   position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Tabs_1.png?v=1653886076);
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
    height: 190px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.password-sec {
  position: relative;
  padding-bottom: 14%;
}
.bottomimg{
 	position: absolute;
right: 0;
width: 30%;
bottom: 32px; 
}
.bottomimg img{
   width: 100%;
	float: right; 
}

/* .password-sec:after {
  position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Brush.png?v=1653544802);
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 300px;
    height: 270px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
} */

h2.passw-title {
    font-size: 24px;
    font-weight: 600;
      text-align: center;
  margin:0;
}

h3.passwd-title {
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 2px;
  margin-bottom:15px;
  line-height: normal;
}

p.passw-para {
    font-size: 22px;
    font-style: initial;
    font-weight: 500;
    margin: 0;
    padding: 0;

}

.pass-div-flex {
  display: flex;
justify-content: left;
align-items: center;
width: fit-content;
margin: 40px auto 70px;
position: relative;
background: #fff;
border-radius: 50px;
    
}
.pass-div-flex button{
  background: transparent;
  border-radius: 50px;
  box-shadow: none;
}
.pass-div-flex  input {
  border-radius: 50px;
    background-color: #fff;
  font-size:22px;
   padding: 26px;
}
.pass-div-flex input:focus {
  padding: 26px;
}
.pass-div-flex input::placeholder {
    color: #000;
    opacity: 2;
  
}

.contact__button.password button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.pass-div-flex .contact__fields {
    width: 330px;
}

.password__footer h2 {
    font-weight: 500;
      margin: 0;
      text-transform: capitalize;
}

h2.password-modal__content-heading {
    color: #fff;
    margin: 0;
    text-align: center;
}

small.password__footer-text {
    color: #fff;
    text-align: center;
}

.eyesicon {
    padding-left: 10px;
    padding-top: 6px;
}

.password .form-status.form-status-list.form__message {
    display: block;
    text-align: center;
	font-weight: 500;
    font-style: initial;
      max-width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
      padding-top: 15px;
}

.field__input:focus, .field__input:not(:placeholder-shown), .field__input:autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:autofill {
  padding: 0px;
}  
.mobile{
 	display: none; 
}
@media only screen and (max-width: 767px) {
.password .form-status.form-status-list.form__message {
      padding-top: 1px;
}  
  .contact__button.password{
   	width: 20%; 
  }
  .contact__button.password button {

    float: right;
  }  
  .contact__button.password button:focus{
    border:none;
    box-shadow:none;
  }
  .contact__button.password button:active{
    border:none;
    box-shadow:none;
  }
  .password-header:before {
    display:none;
  }

.password-header:after {
   position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Tabs-mobile.png?v=1653551982);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.password-main  {
  
  display: none;
}
.desktop{
 	display: none; 
}
.mobile{
 	display: block; 
}  
.password-sec {
  position: relative;
  padding-bottom: 26%;
}
.pass-div-flex button {
  background: transparent;
  border-radius: 50px;
  box-shadow: none;
  padding: 0 20px 0px 1px;
  min-width: 1px;
}
.pass-div-flex input {
  font-size: 18px;
  padding: 26px 0px 26px 26px;
}  
  
/* .bottomimg{
 	position: absolute;
right: 0;
width: 100%;
bottom: 32px; 
}
.bottomimg {
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
}

.bottomimg img{
   width: 30%;
	float: right; 
} */
.password-sec:after {
  background-image: none;
  display:none;
}
.rightsideimage{
 position: relative;
  text-align: right;
/*   display: block; */
}
.rightsideimage img {
  width: 60%;
  margin-top: -30px;
margin-bottom: 10px;
}  
/* .rightsideimage:after {
  position: absolute;
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Brush.png?v=1653544802);
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 255px;
  height: 230px;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}
   */
  .pass-div-flex {
    width: 75%;
    margin: 0 auto;
  }
  h3.passwd-title {
    font-size: 36px;
    padding: 0 5px;
    margin-top:20px;
    letter-spacing: 0;

  }
  img.password-logo {
    margin-top: 16rem;
     max-width: 200px !important;
    height: 84px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 0;
  }

  .contact__button.password svg {
    width: 100;
  }

  .password-header {
    padding-bottom: 25px;
  }
  .bottomimg {
  position: absolute;
  right: 0;
  width: 55%;
  bottom: 18px;
}
  .form.password {
/*     padding-top: 30px; */
   margin-bottom: 50px;
margin-top: 40px;
  }
  .bottom {
  text-align: center;
}
  .list-social__link {
  padding: 0.5rem 1rem!important;
}
  .eyesicon {
    padding-left: 10px;
    padding-top: 6px;
}
  
  .password-modal {
    justify-content: center;
    text-align: center;
}
  ul.list-social {
    margin-bottom: -25px;
}
  
  h2.passw-title {
    font-size: 18px;
}
  .pass-div-flex .contact__fields input {
    background-color: #4caaf6;
    font-size: 20px;
/*     font-weight: 600; */
    padding: 0px;
    padding-right: 25px;
}
  
  p.passw-para {
    font-size: 18px;
    font-weight: 500;
    }
  
  .pass-div-flex .contact__fields {
    width: 85%;
/*     margin-right: 20px; */
}
  .contact__button.password {
       width: 15%;
}
  
  .password__footer {
    padding-top: 2rem;

  }
  .password__footer ul.list-social svg {
    width: 32px;
}
.field__input:focus, .field__input:not(:placeholder-shown), .field__input:autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:autofill {
  padding: 9px;
}  
  
}


@media only screen and (max-width: 350px) {
  
  
  .password-header:after {
    position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Tabs-mobile.png?v=1653551982);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}
  img.password-logo {
    margin-top: 4rem;
    max-width: 140px !important;
    height: 84px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 0;
  }
  h2.passw-title {
    font-size: 12px;
margin-top: -14px;
  }

  h3.passwd-title {
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p.passw-para {
    font-size: 14px;
    }
  
/*   .password-sec:after {
    position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Brush_1_b4bcabb6-49fe-44b6-9a14-a7be3dd36eb4.png?v=1653571220);
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 180px;
    height: 150px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
} */
  
   .pass-div-flex {
    width: 70%;
/*     margin: 35px auto 30px; */
  }
  .pass-div-flex .contact__fields input {
    background-color: #4caaf6;
    font-size: 14px;
/*     font-weight: 600; */
    padding: 0px;
    padding-right: 25px;
}
  .password__footer ul.list-social svg {
    width: 25px;
/*     height: 25px; */
}
..contact__button.password button{
 	min-width: 9.5rem; 
}
.password{
/*  	overflow-y: hidden;  */
}
details.modal .modal__toggle-open {
  font-size: 11px;
}
.password-main {
  flex-grow: 0;
}  
  

}



