.endrock-faq .faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.endrock-faq .faq-wrapper .faq-drawer:last-of-type{
    border-bottom: 1px solid #000000;
}

.endrock-faq .faq-drawer__title {
    border-top: #000 1px solid;
    cursor: pointer;
    display: block;
    color: #000;
    font-family: "OldschoolGrotesk-Medium";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
}

.endrock-faq .faq-drawer__content p{
    color: #000;
    font-family: 'OldschoolGrotesk-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 390;
    line-height: 24px;
    margin: 5px 0 26px;
    max-width: 640px;
}

.endrock-faq .faq-drawer__title::after {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  vertical-align: top;
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikljb24iPgo8bGluZSBpZD0iTGluZSAzNCIgeDE9IjEyLjUiIHkxPSIzLjc4ODA5IiB4Mj0iMTIuNSIgeTI9IjIyLjc4ODEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMyIvPgo8bGluZSBpZD0iTGluZSAzNSIgeDE9IjMiIHkxPSIxMy4yODgxIiB4Mj0iMjIiIHkyPSIxMy4yODgxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9nPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

/* OPTIONAL HOVER STATE */
.endrock-faq .faq-drawer__title:hover { 
  color: #4E4B52  ;
}

.endrock-faq .faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.endrock-faq .faq-drawer__trigger:checked + .faq-drawer__title{
  padding-bottom: 0;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikljb24iPgo8bGluZSBpZD0iTGluZSAzNSIgeDE9IjMiIHkxPSIxMy4yODgxIiB4Mj0iMjIiIHkyPSIxMy4yODgxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9nPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  top: 60%;
}

input[type="checkbox"] {
  display: none;
}

.endrock-faq .heading{
    color: #000;
    font-family: "OldschoolGrotesk-Medium";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    margin: 0 0 28px;
    text-align: center;
}

@media (max-width: 767px) {
  .endrock-faq .heading{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 32px;
  }

  .endrock-faq .faq-drawer__title{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px; 
    padding-right: 10%;
  }

  .endrock-faq .faq-drawer__content p{
    font-family: "OldschoolGrotesk-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 16px 0;
  }
}

