
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="4780043a-99d4-11ee-b9b6-4249b3824181"
      style="display: block !important"
    >
      <style id="replo-element-styles">:not(#\20):not(#\20).r-11y9s13{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-11y9s13{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-11y9s13{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-zhn8w4{display:flex;min-width:0;align-self:stretch;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-zhn8w4{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-zhn8w4{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-19fe3vl{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19fe3vl{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19fe3vl{object-fit:cover;}}:not(#\20):not(#\20).r-ja9xbl{color:#000000FF;display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;font-family:Poppins, sans-serif;padding-top:50px;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:50px;justify-content:center;background-color:#ECEFFDFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ja9xbl{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:40px;padding-bottom:40px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ja9xbl{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-15tivqw{width:100%;display:flex;row-gap:20px;position:relative;max-width:1060px;min-width:auto;align-self:center;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15tivqw{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15tivqw{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-161hrjs{font-size:40px;align-self:stretch;flex-basis:auto;text-align:center;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:600;line-height:52px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-161hrjs{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-161hrjs{font-size:36px;flex-basis:auto;flex-shrink:0;line-height:46px;text-align-last:center;}}:not(#\20):not(#\20).r-1v4s92x{color:#1C1D1D;font-size:20px;align-self:stretch;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:400;line-height:32px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1v4s92x{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1v4s92x{font-size:18px;flex-basis:auto;flex-shrink:0;line-height:28px;text-align-last:center;}}:not(#\20):not(#\20).r-3lq8ou{width:100%;display:flex;row-gap:60px;position:relative;max-width:970px;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3lq8ou{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3lq8ou{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1now6q4{display:flex;row-gap:50px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1now6q4{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1now6q4{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-14dpwb5{display:flex;flex-grow:1;max-width:390px;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-14dpwb5{flex-grow:1;max-width:350px;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-14dpwb5{max-width:350px;flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-104f83u{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-104f83u{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-104f83u{object-fit:cover;}}:not(#\20):not(#\20).r-1fkip2a{display:flex;row-gap:10px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:10px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1fkip2a{row-gap:10px;position:relative;flex-grow:1;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1fkip2a{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1wqpmte{color:#01082B;overflow:hidden;font-size:24px;flex-basis:auto;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:700;line-height:32px;padding-top:8px;padding-left:20px;overflow-wrap:break-word;padding-right:20px;padding-bottom:8px;background-color:#48BBFE;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1wqpmte{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1wqpmte{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}:not(#\20):not(#\20).r-j4riny{font-size:35px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:500;line-height:55px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-j4riny{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-j4riny{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}:not(#\20):not(#\20).r-106s82n{color:#1C1D1D;font-size:18px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:29px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-106s82n{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-106s82n{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}:not(#\20):not(#\20).r-1thz6ol{display:flex;row-gap:50px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1thz6ol{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;flex-direction:column-reverse;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1thz6ol{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-5ooc6h{display:flex;row-gap:10px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:10px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5ooc6h{row-gap:10px;position:relative;flex-grow:1;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5ooc6h{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1hdhy0i{color:#01082B;overflow:hidden;font-size:24px;flex-basis:auto;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:700;line-height:32px;padding-top:8px;padding-left:20px;overflow-wrap:break-word;padding-right:20px;padding-bottom:8px;background-color:#48BBFE;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hdhy0i{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hdhy0i{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}:not(#\20):not(#\20).r-1vydbjb{font-size:35px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:500;line-height:55px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1vydbjb{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1vydbjb{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}:not(#\20):not(#\20).r-t310ai{color:#1C1D1D;font-size:18px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:29px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-t310ai{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-t310ai{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}:not(#\20):not(#\20).r-4cyloy{display:flex;flex-grow:1;max-width:390px;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4cyloy{flex-grow:1;max-width:350px;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4cyloy{max-width:350px;flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-b27ajo{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-b27ajo{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-b27ajo{object-fit:cover;}}:not(#\20):not(#\20).r-akjj16{display:flex;row-gap:50px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-akjj16{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-akjj16{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1n498qf{display:flex;flex-grow:1;max-width:390px;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1n498qf{flex-grow:1;max-width:350px;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1n498qf{max-width:350px;flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-y8si7n{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-y8si7n{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-y8si7n{object-fit:cover;}}:not(#\20):not(#\20).r-1qeztvy{display:flex;row-gap:10px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:10px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1qeztvy{row-gap:10px;position:relative;flex-grow:1;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1qeztvy{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-8e7v9y{color:#01082B;overflow:hidden;font-size:24px;flex-basis:auto;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:700;line-height:32px;padding-top:8px;padding-left:20px;overflow-wrap:break-word;padding-right:20px;padding-bottom:8px;background-color:#48BBFE;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-8e7v9y{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-8e7v9y{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}:not(#\20):not(#\20).r-1hk6r09{font-size:35px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:500;line-height:55px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hk6r09{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hk6r09{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}:not(#\20):not(#\20).r-1ubezh3{color:#1C1D1D;font-size:18px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:29px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ubezh3{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ubezh3{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}:not(#\20):not(#\20).r-m2amcm{display:flex;row-gap:50px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-m2amcm{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;flex-direction:column-reverse;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-m2amcm{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-poth4j{display:flex;row-gap:10px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:10px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-poth4j{row-gap:10px;position:relative;flex-grow:1;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-poth4j{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1osb9ng{color:#01082B;overflow:hidden;font-size:24px;flex-basis:auto;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:700;line-height:32px;padding-top:8px;padding-left:20px;overflow-wrap:break-word;padding-right:20px;padding-bottom:8px;background-color:#48BBFE;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1osb9ng{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1osb9ng{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}:not(#\20):not(#\20).r-1vtz49o{font-size:35px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:500;line-height:55px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1vtz49o{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1vtz49o{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}:not(#\20):not(#\20).r-lgot18{color:#1C1D1D;font-size:18px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:29px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-lgot18{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-lgot18{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}:not(#\20):not(#\20).r-6pgout{display:flex;flex-grow:1;max-width:390px;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-6pgout{flex-grow:1;max-width:350px;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-6pgout{max-width:350px;flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-x8ba73{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-x8ba73{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-x8ba73{object-fit:cover;}}:not(#\20):not(#\20).r-1b67kvc{display:flex;row-gap:50px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1b67kvc{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1b67kvc{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1hk2log{display:flex;flex-grow:1;max-width:390px;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;padding-top:100px;padding-left:100px;padding-right:100px;padding-bottom:100px;border-right-color:#1F0529FF;border-bottom-color:#1F0529FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hk2log{flex-grow:1;max-width:350px;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hk2log{max-width:350px;flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-sqq5ux{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-sqq5ux{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-sqq5ux{object-fit:cover;}}:not(#\20):not(#\20).r-maelfe{display:flex;row-gap:10px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;column-gap:10px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-maelfe{row-gap:10px;position:relative;flex-grow:1;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-maelfe{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1lfm65x{color:#01082B;overflow:hidden;font-size:24px;flex-basis:auto;flex-shrink:0;font-family:Poppins, sans-serif;font-weight:700;line-height:32px;padding-top:8px;padding-left:20px;overflow-wrap:break-word;padding-right:20px;padding-bottom:8px;background-color:#48BBFE;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1lfm65x{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1lfm65x{width:auto;height:auto;overflow:hidden;flex-grow:unset;font-size:20px;align-self:auto;flex-basis:auto;flex-shrink:0;line-height:28px;padding-top:5px;padding-left:15px;padding-right:15px;padding-bottom:5px;}}:not(#\20):not(#\20).r-19zxzms{font-size:35px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:500;line-height:55px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19zxzms{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19zxzms{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;}}:not(#\20):not(#\20).r-vxty8l{color:#1C1D1D;font-size:18px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:29px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vxty8l{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vxty8l{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:26px;}}:not(#\20):not(#\20).r-1efw041{font-size:18px;max-width:960px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1efw041{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1efw041{flex-basis:auto;flex-shrink:0;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/ef06d184-b1e1-4a46-8f64-27e1b401e50e.min.js?v=4780043a-99d4-11ee-b9b6-4249b3824181" id="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/ef06d184-b1e1-4a46-8f64-27e1b401e50e.min.js?v=4780043a-99d4-11ee-b9b6-4249b3824181"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer, .main-footer, .shopify-section-group-footer-group { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><style>@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;950)</style><div class="alchemy__element alchemy-reset"><div data-rid="fdd23045-519a-44e5-a8a5-dc3c62655509" data-replo-repeated-index=".0" class="r-11y9s13"><picture data-rid="22467fdb-8330-45da-8fae-b2458bec3001" data-replo-repeated-index=".0.0" class="r-zhn8w4"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/sleep_quiz_6.png?v=1690567110&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/sleep_quiz_6.png?v=1690567110&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/sleep_quiz_6.png?v=1690567110&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/sleep_quiz_6.png?v=1690567110&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/sleep_quiz_6.png?v=1690567110" class="r-19fe3vl" loading="eager"/></picture><div data-rid="d0bb95c3-4e51-4c4b-a8e4-9b20ea760c6e" data-replo-repeated-index=".0.0" class="r-ja9xbl"><div data-rid="de49b087-34df-4eae-ac87-7d9c36791b31" data-replo-repeated-index=".0.0.0" class="r-15tivqw"><div data-rid="c215cd7e-6c3b-4c5e-acc9-97b059444798" data-replo-repeated-index=".0.0.0.0" class="r-161hrjs alchemy-rte"><span contenteditable="false" style="width:100%"><p>5 reasons why dentists love nHa</p></span></div><div data-rid="0d4c7680-04f7-4fac-a187-b5b6b21a9a56" data-replo-repeated-index=".0.0.0.0" class="r-1v4s92x alchemy-rte"><span contenteditable="false" style="width:100%"><p>Degraded tooth enamel leads to decay and rot. Problem is: Tooth enamel is one of the only tissues in your body that cannot repair itself from within. That's why remineralization, the process of naturally repairing tooth enamel, is the most critical quality in a toothpaste. <br><br>We use a dentist-backed fluoride alternative called nano-hydroxyapatite, which is clinically p<span style="color: rgb(0, 0, 0)">roven to be just as effective as fluoride -- if not more so -- at remineralizing teeth. The difference is that nHa rebuilds enamel and dentin with the very compounds that naturally make up your teeth, while also offering additional benefits for sensitivity, plaque reduction, and whitening. No wonder nHa is quickly becoming the first-choice ingredient for daily preventative oral care.</span><br></p></span></div></div><div data-rid="aa1853c7-3e3e-4836-ae25-c13c89d92bb0" data-replo-repeated-index=".0.0.0" class="r-3lq8ou"><div data-rid="b023d4ab-291a-4a7e-aa4c-be18531265e0" data-replo-repeated-index=".0.0.0.0" class="r-1now6q4"><picture data-rid="0bfa104f-22dc-418d-b04e-8a5c4afbc8e8" data-replo-repeated-index=".0.0.0.0.0" class="r-14dpwb5"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_4_c69e8989-bd2e-410b-80f9-7b14e8352bdd.png?v=1690577081&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_4_c69e8989-bd2e-410b-80f9-7b14e8352bdd.png?v=1690577081&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_4_c69e8989-bd2e-410b-80f9-7b14e8352bdd.png?v=1690577081&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_4_c69e8989-bd2e-410b-80f9-7b14e8352bdd.png?v=1690577081&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_4_c69e8989-bd2e-410b-80f9-7b14e8352bdd.png?v=1690577081" class="r-104f83u" loading="eager"/></picture><div data-rid="11fb574b-5d4f-4d99-871c-0b7a71b9adf9" data-replo-repeated-index=".0.0.0.0.0" class="r-1fkip2a"><div data-rid="8909327c-4f21-4a99-9a0e-dda45cfca9cb" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1wqpmte alchemy-rte"><span contenteditable="false" style="width:100%"><p>1</p></span></div><div data-rid="7d2f3876-d1f0-4323-8011-4d2a2bc69d00" data-replo-repeated-index=".0.0.0.0.0.0" class="r-j4riny alchemy-rte"><span contenteditable="false" style="width:100%"><p>The stuff teeth are made of</p></span></div><div data-rid="9e8edc20-4f77-4480-b4e4-ae0a7ae342f5" data-replo-repeated-index=".0.0.0.0.0.0" class="r-106s82n alchemy-rte"><span contenteditable="false" style="width:100%"><p>Teeth are the hardest structure in the body, and they're made of hydroxyapatite, calcium, and phosphate. Nano-hydroxyapatite is a microscopic derivative<span style="color: rgb(0, 0, 0)"> (hence the "nano") </span>of hydroxyapatite, the natural mineral in your teeth and bones that combines with calcium and phosphate to make them strong. nHa<span style="color: rgb(0, 0, 0)"> was developed in the 70s by NASA when fluoride wasn't doing enough to help astronauts' tooth degradation in space. NASA scientists shrunk the hydroxxyapapitite compound so it could be applied in the microscopic dental setting -- and they found it made teeth stronger for longer on earth and beyond!</span></p></span></div></div></div><div data-rid="30f6e2be-f898-4d07-84de-c04edf460884" data-replo-repeated-index=".0.0.0.0" class="r-1thz6ol"><div data-rid="21fa7cde-26f4-420c-90ac-2cdd31699984" data-replo-repeated-index=".0.0.0.0.0" class="r-5ooc6h"><div data-rid="e7cdc3d1-e153-4bb1-ae12-00ede78fc4d9" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1hdhy0i alchemy-rte"><span contenteditable="false" style="width:100%"><p>2</p></span></div><div data-rid="51e173c0-d4f1-4854-bae6-3ddaf0de191b" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1vydbjb alchemy-rte"><span contenteditable="false" style="width:100%"><p>Remineralizes enamel + dentin</p></span></div><div data-rid="16f580ac-3957-4fa1-b92f-74ef98c7d2a3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-t310ai alchemy-rte"><span contenteditable="false" style="width:100%"><p>The nHa in <strong>duo</strong> toothpaste easily bonds with its natural counterparts to replenish and heal degraded tooth structure. Enamel is remineralized<span style="color: rgb(0, 0, 0)"> by penetrating porosities to replace dissolved calcium and phosphate and ultimately forming a new layer of enamel. Dentin is remineralized by penetrating the collagen matrix and providing a scaffold of calcium and phosphate.</span></p></span></div></div><picture data-rid="8ccce2ee-b345-4b18-8afe-8bfa7312bc9c" data-replo-repeated-index=".0.0.0.0.0" class="r-4cyloy"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_5_0f002f27-a2fd-4742-a89b-2aee3d81a220.png?v=1692633922&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_5_0f002f27-a2fd-4742-a89b-2aee3d81a220.png?v=1692633922&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_5_0f002f27-a2fd-4742-a89b-2aee3d81a220.png?v=1692633922&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_5_0f002f27-a2fd-4742-a89b-2aee3d81a220.png?v=1692633922&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_5_0f002f27-a2fd-4742-a89b-2aee3d81a220.png?v=1692633922" class="r-b27ajo" loading="eager"/></picture></div><div data-rid="a6ad5c7e-67a5-46a5-839f-d62de2b6057d" data-replo-repeated-index=".0.0.0.0" class="r-akjj16"><picture data-rid="d1f5b1e6-8093-4e20-913b-49ae2e89b028" data-replo-repeated-index=".0.0.0.0.0" class="r-1n498qf"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8_f316a55d-07d7-406a-85a1-dd2fc00df7c1.png?v=1692634309&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8_f316a55d-07d7-406a-85a1-dd2fc00df7c1.png?v=1692634309&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8_f316a55d-07d7-406a-85a1-dd2fc00df7c1.png?v=1692634309&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8_f316a55d-07d7-406a-85a1-dd2fc00df7c1.png?v=1692634309&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8_f316a55d-07d7-406a-85a1-dd2fc00df7c1.png?v=1692634309" class="r-y8si7n" loading="eager"/></picture><div data-rid="194c0170-1285-45c0-8ae4-8e129c9ae36a" data-replo-repeated-index=".0.0.0.0.0" class="r-1qeztvy"><div data-rid="835bb335-1591-4de4-95ab-50cfba64472b" data-replo-repeated-index=".0.0.0.0.0.0" class="r-8e7v9y alchemy-rte"><span contenteditable="false" style="width:100%"><p>3</p></span></div><div data-rid="5dde189c-c82f-46d5-abb8-8c8687d1ac12" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1hk6r09 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Reduces sensitivity</p></span></div><div data-rid="5822787a-bdaa-4aa7-94b6-241b9be3da18" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1ubezh3 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(0, 0, 0)">Other methods of decreasing sensitivity, such as the potassium found in Sensodyne, only patch the problem of sensitivity by soothing nerves that send pain messages to the brain. nHa directly addresses the cause by plugging open dental tubules --  the access points to nerves -- and preventing painful stimuli from reaching those nerves in the first place. nHa also reduces hydrodynamic sensitivity by protecting the pulp from pressure changes.</span></p></span></div></div></div><div data-rid="5185d381-3069-4b23-bb80-19d849eca34d" data-replo-repeated-index=".0.0.0.0" class="r-m2amcm"><div data-rid="29ba7397-9b6b-4769-95fb-80019f59090c" data-replo-repeated-index=".0.0.0.0.0" class="r-poth4j"><div data-rid="0ecedb04-f2f7-4ede-85c0-e35396cb11c4" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1osb9ng alchemy-rte"><span contenteditable="false" style="width:100%"><p>4</p></span></div><div data-rid="ec36da4c-b607-4e3a-a406-29c15c9aedcc" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1vtz49o alchemy-rte"><span contenteditable="false" style="width:100%"><p>Fights plaque </p></span></div><div data-rid="f4618ee5-8eba-456d-b745-76384d3a8271" data-replo-repeated-index=".0.0.0.0.0.0" class="r-lgot18 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(0, 0, 0)">nHa prevents plaque formation by binding the bacteria before it reaches the teeth and periodontal tissues and preventing bad bacteria from forming a direct attachment to the tooth. nHa has been found to reduce biofilm as effectively as the antimicrobial mouth rinse Chlorhexidine without disrupting the oral biofilm with nonspecific causative agents. That means that nHa is as tough on plaque as medicated mouthwash without destroying all the good bacteria in the mouth as well.</span></p></span></div></div><picture data-rid="feb83185-c42e-4082-8b4f-4f5e5791705d" data-replo-repeated-index=".0.0.0.0.0" class="r-6pgout"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_7_7272998d-8fbe-4cba-8ec1-e38d1732ab1e.png?v=1692634078&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_7_7272998d-8fbe-4cba-8ec1-e38d1732ab1e.png?v=1692634078&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_7_7272998d-8fbe-4cba-8ec1-e38d1732ab1e.png?v=1692634078&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_7_7272998d-8fbe-4cba-8ec1-e38d1732ab1e.png?v=1692634078&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_7_7272998d-8fbe-4cba-8ec1-e38d1732ab1e.png?v=1692634078" class="r-x8ba73" loading="eager"/></picture></div><div data-rid="208b0234-0c00-48c6-a094-dcb9355c03bc" data-replo-repeated-index=".0.0.0.0" class="r-1b67kvc"><picture data-rid="c1c9c9e7-0865-4ef0-a0ac-4c59d2cea992" data-replo-repeated-index=".0.0.0.0.0" class="r-1hk2log"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/lets_talk_nha.svg?v=1690455457" class="r-sqq5ux" loading="eager"/></picture><div data-rid="3789498b-0710-4d1e-aa91-2213ccc7ba25" data-replo-repeated-index=".0.0.0.0.0" class="r-maelfe"><div data-rid="9de63695-759e-4f67-b40b-c8933b421885" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1lfm65x alchemy-rte"><span contenteditable="false" style="width:100%"><p>5</p></span></div><div data-rid="d2f0d640-8694-401b-8f1d-a0a946b46539" data-replo-repeated-index=".0.0.0.0.0.0" class="r-19zxzms alchemy-rte"><span contenteditable="false" style="width:100%"><p>Naturally whitens</p></span></div><div data-rid="e33b5e40-ebb0-4e80-855b-8237bbe46120" data-replo-repeated-index=".0.0.0.0.0.0" class="r-vxty8l alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(0, 0, 0)">nHa is naturally white and increases the brightness and whiteness of the tooth surface by remineralization, which also adds to the smoother and glossier appearance. nHAs effect on whitening is physiological rather than mechanical or chemical, which means it doesn't strip enamel or have the caustic effects of peroxides, which increase dental sensitivity and harm the oral microbiome. For patients that do use peroxide whiteners, the concurrent use of nHa toothpaste has been proven to reduce associated sensitivity.</span></p></span></div></div></div></div><div data-rid="e56f179c-e5a3-47fd-b32f-24d300d91ff2" data-replo-repeated-index=".0.0.0" class="r-1efw041 alchemy-rte"><span contenteditable="false" style="width:100%"><h4><strong>SELECTED STUDIES:</strong></h4><ul><li><p><a target="_blank" rel="noopener nofollow noreferrer" href="https://pubmed.ncbi.nlm.nih.gov/25506416/"><u>Nano-hydroxyapatite and its applications in preventive, restorative and regenerative dentistry: a review of literature</u></a></p></li><li><p><a target="_blank" rel="noopener nofollow noreferrer" href="https://pubmed.ncbi.nlm.nih.gov/30683113/"><u>Enamel remineralization and repair results of Biomimetic Hydroxyapatite toothpaste on deciduous teeth: an effective option to fluoride toothpaste</u></a></p></li></ul></span></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="91633877159"></script>
  
    </div>
