
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="619f0c0c-30f8-11ee-964a-02fd981a60d3"
      style="display: block !important"
    >
      
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/35d67773-4a51-4367-af10-b87e899300cd.min.js?v=619f0c0c-30f8-11ee-964a-02fd981a60d3" id="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/35d67773-4a51-4367-af10-b87e899300cd.min.js?v=619f0c0c-30f8-11ee-964a-02fd981a60d3"></script><style data-radium-styles="true">@media (max-width: 640px){ .rmq-7ae041a1{background-size: cover !important;
background-image: url("https://cdn.shopify.com/s/files/1/0553/3233/9879/files/6_d3793bdf-ee29-4388-8b9a-a61d5b4775d6.png?v=1690143103") !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-11c51324{background-image: url("https://cdn.shopify.com/s/files/1/0553/3233/9879/files/6_d3793bdf-ee29-4388-8b9a-a61d5b4775d6.png?v=1690143103") !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-3c2c2191{background-image: url("https://cdn.shopify.com/s/files/1/0553/3233/9879/files/6_d3793bdf-ee29-4388-8b9a-a61d5b4775d6.png?v=1690143103") !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-9a7c7f2c{background-image: url("https://cdn.shopify.com/s/files/1/0553/3233/9879/files/6_d3793bdf-ee29-4388-8b9a-a61d5b4775d6.png?v=1690143103") !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-88031f7e{display: none !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-aa5fdf60{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1997b991{object-fit: cover !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-8a1ca093{object-fit: cover !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-553db1c6{object-fit: cover !important;}}
@media (min-width: 1025px){ .rmq-e8e4959b{object-fit: cover !important;}}
@media (max-width: 640px){ .rmq-f2b684bd{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-74be85ff{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-78bf3fea{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-82b55d77{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-5388f1e3{display: flex !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-9d59d09c{display: none !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-49769b02{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-e5a33460{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-cf021ec2{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-ff3d0d37{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-15a7c1ca{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-998af661{display: flex !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-777d89f9{margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-78c1433b{margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-c72d5cda{font-size: 36px !important;
line-height: 56px !important;
padding-left: 30px !important;
padding-right: 30px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-1c8873b8{font-size: 36px !important;
line-height: 56px !important;
padding-left: 30px !important;
padding-right: 30px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-228dc866{margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-970a5e84{margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-5f4999be{display: flex !important;
margin-top: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
padding-left: 20px !important;
padding-right: 20px !important;
background-color: #FFFFFFFF !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-2a3b6516{font-size: 26px !important;
line-height: 34px !important;
padding-left: 10px !important;
padding-right: 10px !important;
padding-bottom: 10px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-cb84dd1d{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-bda74f88{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-9685c015{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-61e2b877{padding-left: 30px !important;
padding-right: 30px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
max-width: 400px !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-59b621ae{flex-shrink: 0 !important;
flex-basis: auto !important;
max-width: 400px !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-54b3455b{flex-shrink: 0 !important;
flex-basis: auto !important;
max-width: 400px !important;}}
@media (min-width: 1025px){ .rmq-5d253aa6{flex-shrink: 0 !important;
flex-basis: auto !important;
max-width: 400px !important;}}
@media (max-width: 640px){ .rmq-3a3d6f8f{display: flex !important;
margin-left: 0px !important;
padding-top: 20px !important;
margin-right: 0px !important;
padding-bottom: 20px !important;
border-top-color: #00126BFF !important;
border-top-style: solid !important;
border-top-width: 1px !important;
background-color: #ECEFFDFF !important;
border-left-color: #00126BFF !important;
border-left-style: solid !important;
border-left-width: 1px !important;
border-right-color: #00126BFF !important;
border-right-style: solid !important;
border-right-width: 1px !important;
border-bottom-color: #00126BFF !important;
border-bottom-style: solid !important;
border-bottom-width: 1px !important;
border-top-left-radius: 12px !important;
border-bottom-right-radius: 12px !important;
overflow: hidden !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-961a30fe{display: flex !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-796efd3f{display: none !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-6100eebd{display: none !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1f47714{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4a86ea09{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-e73f86e4{display: none !important;
margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-31443c3b{display: flex !important;
margin-left: 100px !important;
margin-right: 100px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-ad55a3d1{display: flex !important;
margin-left: 0px !important;
margin-right: 0px !important;
margin-bottom: 0px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-7d750a43{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-ee191701{flex-shrink: 0 !important;
flex-basis: auto !important;}}</style><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(calc(-100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(calc(-50% + 100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><div class="alchemy__element alchemy-reset"><div data-rid="9e8e0413-42b8-43f8-8975-ff9fe9e1fadc" data-replo-repeated-index=".0" style="display:flex;align-self:stretch;align-items:center;flex-direction:column;background-size:cover;justify-content:center;background-color:#ECEFFDFF;background-image:url(&quot;https://cdn.shopify.com/s/files/1/0553/3233/9879/files/6_d3793bdf-ee29-4388-8b9a-a61d5b4775d6.png?v=1690143103&quot;);flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-7ae041a1 rmq-11c51324 rmq-3c2c2191 rmq-9a7c7f2c" data-radium="true"><div data-rid="0dd47260-895f-4099-96e9-c7a153a4d9d4" data-replo-repeated-index=".0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-88031f7e rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="5d2b9fbe-0c28-4a58-82a7-140ce4f35151" data-replo-repeated-index=".0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture></div><div data-rid="85c55b6f-5ae5-46d4-a5c4-c5dcef4fcc9e" data-replo-repeated-index=".0.0" style="display:none;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-5388f1e3 rmq-9d59d09c rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="7a03770f-8eab-4f78-8ebd-916d47e47a3d" data-replo-repeated-index=".0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/duo_social_notes_17.png?v=1690669963&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/33.png?v=1690662449" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture></div><div data-rid="96fbd4c3-87b0-435d-bd24-141a76cb0dac" data-replo-repeated-index=".0.0" style="display:flex;max-width:100%;align-self:stretch;margin-top:80px;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-88031f7e rmq-9d59d09c rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="37372851-5d52-4bb0-bf2e-418e2966e93a" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;margin-left:300px;margin-right:300px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="7fc3d633-ba77-42d6-ac45-e0950beba94b" data-replo-repeated-index=".0.0.0.0" class="rmq-e5a33460 rmq-cf021ec2 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte" style="color:#00126BFF;flex-grow:1;font-size:44px;text-align:center;font-weight:400;line-height:56px;padding-top:30px;padding-bottom:30px;background-color:#FFFFFFFF;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Join our <strong>ambassador program</strong> &amp; <br>get a <strong><span style="color: rgb(217, 232, 56)">~</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(72, 187, 254)">F</span><span style="color: rgb(55, 232, 182)">R</span><span style="color: rgb(255, 179, 45)">E</span><span style="color: rgb(188, 113, 211)">E</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(217, 232, 56)">~ </span></strong><span style="color: rgb(0, 18, 107)">subscription</span></p></span></div></div><div data-rid="f3b27e84-9984-4b8a-a4ee-ebff4f170abc" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;background-color:#00000000;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="fdf2f75a-9ca9-4296-a5f2-ee47fbd6431f" data-replo-repeated-index=".0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:20px;line-height:26px;margin-left:300px;margin-right:300px;padding-left:30px;padding-right:30px;background-color:#FFFFFFFF;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>As a <strong>duo ambassador</strong> you'll get: <br><br>🧢 Free exclusive merch for yourself and for giveaways<br>🪥 A free 4-month subscription as long you participate in the program<br>🎟️ A unique code &amp; special offers you can share with your followers <br>💰 Commission if we use your content in paid ads<br><br>In exchange, we'll ask you to:<br><br>📸 Create 2 organic posts or stories per month featuring and tagging <strong>duo</strong><br>🎥 Contribute 1 piece of content to our monthly campaign<br>📣 Spread the word about Duo :) <br>💫 Help others experience better living through toothpaste</p></span></div></div></div><div data-rid="00333dd2-5421-4b0f-90d4-ee25eb01295e" data-replo-repeated-index=".0.0" style="display:none;max-width:100%;align-self:stretch;margin-top:80px;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-88031f7e rmq-998af661 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="59bacce1-410b-430e-958e-ca33dca56c05" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;margin-left:300px;margin-right:300px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-777d89f9 rmq-78c1433b rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="b697f4d3-13ae-4228-9dfe-88b1f50b0dfe" data-replo-repeated-index=".0.0.0.0" class="rmq-c72d5cda rmq-1c8873b8 rmq-ff3d0d37 rmq-15a7c1ca alchemy-rte" style="color:#00126BFF;flex-grow:1;font-size:44px;text-align:center;font-weight:400;line-height:56px;padding-top:30px;padding-bottom:30px;background-color:#FFFFFFFF;text-align-last:center;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Join our <strong>ambassador program</strong> &amp; get a <br><strong><span style="color: rgb(217, 232, 56)">~</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(72, 187, 254)">F</span><span style="color: rgb(55, 232, 182)">R</span><span style="color: rgb(255, 179, 45)">E</span><span style="color: rgb(188, 113, 211)">E</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(217, 232, 56)">~ </span></strong><span style="color: rgb(0, 18, 107)">subscription</span></p></span></div></div><div data-rid="a724c9a1-5b2c-47c3-8b12-90c9969d94cd" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;background-color:#00000000;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="30497d8a-b841-4bc3-a51a-455b1a1c65e3" data-replo-repeated-index=".0.0.0.0" class="rmq-228dc866 rmq-970a5e84 rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:20px;line-height:26px;margin-left:300px;margin-right:300px;padding-left:30px;padding-right:30px;background-color:#FFFFFFFF;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>As a <strong>duo ambassador</strong> you'll get: <br><br>🧢 Free exclusive merch for yourself and for giveaways<br>🪥 A free 4-month subscription as long you participate in the program<br>🎟️ A unique code &amp; special offers you can share with your followers <br>💰 Commission if we use your content in paid ads<br><br>In exchange, we'll ask you to:<br><br>📸 Create 2 organic posts or stories per month featuring and tagging <strong>duo</strong><br>🎥 Contribute 1 piece of content to our monthly campaign<br>📣 Spread the word about Duo :) <br>💫 Help others experience better living through toothpaste</p></span></div></div></div><div data-rid="cea9e7c7-35b7-4d26-aa5a-2e821223f982" data-replo-repeated-index=".0.0" style="display:none;max-width:100%;align-self:stretch;margin-top:80px;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-5f4999be rmq-9d59d09c rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="d446c6c3-89b7-497c-a140-51802e3df80d" data-replo-repeated-index=".0.0.0" class="rmq-2a3b6516 rmq-cb84dd1d rmq-bda74f88 rmq-9685c015 alchemy-rte" style="color:#00126BFF;flex-grow:1;font-size:44px;text-align:center;font-weight:400;line-height:56px;padding-top:30px;padding-bottom:30px;background-color:#FFFFFFFF;text-align-last:center;flex-shrink:1;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Join our<br><strong>ambassador program</strong> <br>&amp; <br>get a <strong><span style="color: rgb(217, 232, 56)">~</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(72, 187, 254)">F</span><span style="color: rgb(55, 232, 182)">R</span><span style="color: rgb(255, 179, 45)">E</span><span style="color: rgb(188, 113, 211)">E</span></strong><span style="color: rgb(188, 113, 211)"> </span><strong><span style="color: rgb(217, 232, 56)">~</span></strong><br><span style="color: rgb(0, 18, 107)">subscription</span></p></span></div><picture data-rid="d1a54934-fd99-444d-918e-7734e03203f9" data-replo-repeated-index=".0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;object-fit:cover;flex-shrink:0;flex-basis:auto;max-width:400px" class="rmq-61e2b877 rmq-59b621ae rmq-54b3455b rmq-5d253aa6" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/icon_stamp_2.png?v=1690147852&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/icon_stamp_3.png?v=1690147931&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/icon_stamp_3.png?v=1690147931&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/icon_stamp_3.png?v=1690147931&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/icon_stamp_3.png?v=1690147931" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="a996c5e6-e10d-4b9c-afa9-ae6f652c9fae" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;background-color:#00000000;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="3454c474-fd15-4f2c-864d-dbb94fdeeb9e" data-replo-repeated-index=".0.0.0.0" class="rmq-3a3d6f8f rmq-961a30fe rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:20px;line-height:26px;margin-left:300px;margin-right:300px;padding-left:30px;padding-right:30px;background-color:#FFFFFFFF;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>As a <strong>duo ambassador</strong> you'll get: <br><br>🧢 Free exclusive merch for yourself and for giveaways<br>🪥 A free 4-month subscription as long you participate in the program<br>🎟️ A unique code &amp; special offers you can share with your followers <br>💰 Commission if we use your content in paid ads<br><br>In exchange, we'll ask you to:<br><br>📸 Create 2 organic posts or stories per month featuring and tagging <strong>duo</strong><br>🎥 Contribute 1 piece of content to our monthly campaign<br>📣 Spread the word about Duo :) <br>💫 Help others experience better living through toothpaste</p></span></div></div></div><div data-rid="1c1e108d-676b-4cae-984a-a4ae72a24c33" data-replo-repeated-index=".0.0" style="position:relative;margin-left:300px;margin-right:300px;margin-bottom:80px;flex-shrink:0;flex-basis:auto" class="rmq-796efd3f rmq-6100eebd rmq-1f47714 rmq-4a86ea09" data-radium="true"><div style="width:100%;height:100%;display:flex;align-items:center;justify-content:center" data-radium="true"><img></div><div class="klaviyo-form-SiDL8i" style="display:none" data-radium="true"></div></div><div data-rid="4330c538-bcf4-44dd-a3ab-0b5462669ac4" data-replo-repeated-index=".0.0" style="position:relative;display:none;margin-left:300px;margin-right:300px;margin-bottom:80px;flex-shrink:0;flex-basis:auto" class="rmq-e73f86e4 rmq-31443c3b rmq-1f47714 rmq-4a86ea09" data-radium="true"><div style="width:100%;height:100%;display:flex;align-items:center;justify-content:center" data-radium="true"><img></div><div class="klaviyo-form-SiDL8i" style="display:none" data-radium="true"></div></div><div data-rid="fc4e2c71-690b-4e17-8bfe-d11e3c3779c1" data-replo-repeated-index=".0.0" style="position:relative;display:none;margin-left:300px;margin-right:300px;margin-bottom:80px;flex-shrink:0;flex-basis:auto" class="rmq-ad55a3d1 rmq-6100eebd rmq-1f47714 rmq-4a86ea09" data-radium="true"><div style="width:100%;height:100%;display:flex;align-items:center;justify-content:center" data-radium="true"><img></div><div class="klaviyo-form-SiDL8i" style="display:none" data-radium="true"></div></div><div data-rid="a7aa9a6d-e21f-40aa-aaa3-e493270796d6" data-replo-repeated-index=".0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;flex-direction:row;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="c423a510-68f4-4210-904a-14125c55b4ca" data-replo-repeated-index=".0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/34.png?v=1690662493&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/34.png?v=1690662493&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/34.png?v=1690662493&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/34.png?v=1690662493&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/34.png?v=1690662493" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture></div><div data-rid="dc2c46cc-09df-438d-9b8c-036800e11e1b" data-replo-repeated-index=".0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:10px;padding-bottom:10px;justify-content:center;background-color:#D9E838;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="d7bcfa53-984e-4a9a-a953-286ed17616e7" data-replo-repeated-index=".0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:20px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>© 2023 Duo Dentaceuticals Inc.</p></span></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="91658485927"></script>
  
    </div>
