
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="f952e008-312c-11ee-a7f4-965f8ec5e73c"
      style="display: block !important"
    >
      
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/388752cc-316d-48df-a094-4cbccf84d181.min.js?v=f952e008-312c-11ee-a7f4-965f8ec5e73c" id="https://replocdn.com/w/2bcd02d4-35e2-449b-9589-cb25c5c74c43/388752cc-316d-48df-a094-4cbccf84d181.min.js?v=f952e008-312c-11ee-a7f4-965f8ec5e73c"></script><style data-radium-styles="true">@media (max-width: 640px){ .rmq-49769b02{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-aa5fdf60{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1997b991{object-fit: cover !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-8a1ca093{object-fit: cover !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-553db1c6{object-fit: cover !important;}}
@media (min-width: 1025px){ .rmq-e8e4959b{object-fit: cover !important;}}
@media (max-width: 640px){ .rmq-7d750a43{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-ee191701{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1f47714{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4a86ea09{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-1074b2ba{padding-top: 40px !important;
padding-bottom: 40px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 40px !important;
column-gap: 40px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-6d36899c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 50px !important;
column-gap: 50px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-8b42d089{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 24px !important;
column-gap: 24px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-a7cf0534{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 24px !important;
column-gap: 24px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-a3eac85e{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-df9f9abc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-34e58409{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-3ac5a8b4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1a68c158{font-size: 25px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-80cd54bc{font-size: 36px !important;
line-height: 46px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-73e28289{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-98eef734{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-214978a1{padding-top: 50px !important;
padding-left: 30px !important;
padding-right: 30px !important;
padding-bottom: 50px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 40px !important;
column-gap: 40px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-2a7e1240{padding-top: 50px !important;
padding-left: 30px !important;
padding-right: 30px !important;
padding-bottom: 60px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 40px !important;
column-gap: 40px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-47e0b529{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 50px !important;
column-gap: 50px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-526c7814{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 50px !important;
column-gap: 50px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-2a7bbc9a{display: flex !important;
flex-direction: column !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 50px !important;
column-gap: 50px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1e04a089{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 60px !important;
column-gap: 60px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-be5ad534{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 60px !important;
column-gap: 60px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-6900d230{width: 100% !important;
display: flex !important;
max-width: 400px !important;
align-self: center !important;
flex-direction: column !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 30px !important;
column-gap: 30px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-3d97a9fc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 40px !important;
column-gap: 40px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e80e00c9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 80px !important;
column-gap: 80px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-2482bcf4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 80px !important;
column-gap: 80px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-c3af2371{max-width: 220px !important;
max-height: 220px !important;
flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-f7abb826{max-width: 220px !important;
max-height: 220px !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-78bf3fea{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-82b55d77{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-2c645cc7{max-width: 400px !important;
width: 100% !important;
display: flex !important;
flex-grow: 1 !important;
align-self: auto !important;
flex-basis: auto !important;
align-items: center !important;
justify-content: flex-start !important;
flex-shrink: 1 !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a187ab6d{max-width: 400px !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-39cf7137{flex-shrink: 1 !important;
flex-basis: 0 !important;
row-gap: 30px !important;
column-gap: 30px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-829aa5ca{flex-shrink: 1 !important;
flex-basis: 0 !important;
row-gap: 30px !important;
column-gap: 30px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-3ed0c3ab{font-size: 20px !important;
line-height: 28px !important;
text-align: center !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-7b5425ea{font-size: 25px !important;
line-height: 35px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-91161e99{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-a3cadd24{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-8bb25024{font-size: 16px !important;
line-height: 22px !important;
text-align: center !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-565b5b22{font-size: 18px !important;
line-height: 22px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-4363c77d{width: 100% !important;
display: flex !important;
max-width: 400px !important;
align-self: center !important;
flex-direction: column-reverse !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 30px !important;
column-gap: 30px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-82f10b1{font-size: 25px !important;
line-height: 35px !important;
text-align-last: right !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-ca9f82e2{text-align-last: right !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4eb93f7f{text-align-last: right !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-f3d0d7f9{font-size: 18px !important;
line-height: 22px !important;
text-align-last: right !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-d19a9658{max-width: 220px !important;
max-height: 220px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-f2b684bd{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-74be85ff{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-cbf2c8f4{font-size: 16px !important;
line-height: 26px !important;
text-align-last: left !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-e4a89ad6{font-size: 18px !important;
line-height: 28px !important;
text-align-last: left !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-75d91aa7{text-align-last: left !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-578c355a{text-align-last: left !important;
flex-shrink: 1 !important;
flex-basis: 0 !important;}}</style><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(calc(-100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(calc(-50% + 100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><style>@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;950)</style><div class="alchemy__element alchemy-reset"><div data-rid="fdd23045-519a-44e5-a8a5-dc3c62655509" data-replo-repeated-index=".0" style="display:flex;align-self:stretch;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="22467fdb-8330-45da-8fae-b2458bec3001" data-replo-repeated-index=".0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;align-self:stretch;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/pdp_image_d884b713-7ce8-4859-abe3-40c664ba5cf3.jpg?v=1690586146&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/pdp_image_d884b713-7ce8-4859-abe3-40c664ba5cf3.jpg?v=1690586146&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/pdp_image_d884b713-7ce8-4859-abe3-40c664ba5cf3.jpg?v=1690586146&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/pdp_image_d884b713-7ce8-4859-abe3-40c664ba5cf3.jpg?v=1690586146&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/pdp_image_d884b713-7ce8-4859-abe3-40c664ba5cf3.jpg?v=1690586146" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="d0bb95c3-4e51-4c4b-a8e4-9b20ea760c6e" data-replo-repeated-index=".0.0" style="color:#000000FF;display:flex;max-width:100%;align-self:stretch;align-items:center;font-family:Poppins, sans-serif;padding-top:50px;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:50px;justify-content:center;background-color:#ECEFFDFF;flex-shrink:0;flex-basis:auto;row-gap:24px;column-gap:24px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-1074b2ba rmq-6d36899c rmq-8b42d089 rmq-a7cf0534" data-radium="true"><div data-rid="de49b087-34df-4eae-ac87-7d9c36791b31" data-replo-repeated-index=".0.0.0" style="width:100%;display:flex;max-width:1060px;align-self:center;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:20px;column-gap:20px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-a3eac85e rmq-df9f9abc rmq-34e58409 rmq-3ac5a8b4" data-radium="true"><div data-rid="c215cd7e-6c3b-4c5e-acc9-97b059444798" data-replo-repeated-index=".0.0.0.0" class="rmq-1a68c158 rmq-80cd54bc rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:38px;align-self:stretch;text-align:center;font-family:Poppins, sans-serif;font-weight:600;line-height:52px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>5 reasons why doctors love mucosal absorption<br></p></span></div><div data-rid="a1a5e2c4-5f33-4112-900c-a0853c0ce0cc" data-replo-repeated-index=".0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:22px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><em>what happens when you take your supplements with Duo</em></p></span></div><div data-rid="16e0550e-8854-41b3-b87a-89c139c067a4" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:70px;padding-left:70px;padding-right:70px;flex-direction:column;padding-bottom:70px;justify-content:center;background-color:#ECEFFDFF;flex-shrink:0;flex-basis:auto;row-gap:50px;column-gap:50px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-214978a1 rmq-2a7e1240 rmq-47e0b529 rmq-526c7814" data-radium="true"><div data-rid="c0469eb2-391a-4cce-9670-9cf67834afd8" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;max-width:1200px;align-self:center;align-items:flex-end;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2a7bbc9a rmq-6d36899c rmq-1e04a089 rmq-be5ad534" data-radium="true"><div data-rid="cf1400af-242e-42aa-a9f0-26feeb2408c6" data-replo-repeated-index=".0.0.0.0.0.0" style="width:868px;display:flex;max-width:100%;align-self:flex-end;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:80px;column-gap:80px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-6900d230 rmq-3d97a9fc rmq-e80e00c9 rmq-2482bcf4" data-radium="true"><picture data-rid="ff964923-d836-4fbc-932a-7811d04a2da7" data-replo-repeated-index=".0.0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:288px;max-height:288px;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-c3af2371 rmq-f7abb826 rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/84.png?v=1690974524&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/84.png?v=1690974524&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/84.png?v=1690974524&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/84.png?v=1690974524&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/84.png?v=1690974524" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="1c17ec79-2845-48b5-8628-b077af9794dc" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:500px;align-self:stretch;align-items:flex-start;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;row-gap:30px;column-gap:30px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2c645cc7 rmq-a187ab6d rmq-39cf7137 rmq-829aa5ca" data-radium="true"><div data-rid="4afe33ca-66cd-44a8-b80c-855ce0f90708" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-3ed0c3ab rmq-7b5425ea rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:36px;text-align:left;font-family:Poppins, sans-serif;font-weight:600;line-height:45px;letter-spacing:1px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>the trouble with pills </p></span></div><div data-rid="576f4fc5-aa15-4cb3-bf52-e8e1a40855e7" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-8bb25024 rmq-565b5b22 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:21px;text-align:left;font-family:Poppins, sans-serif;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Pills are hard to take, hard on the stomach, made with fillers, and, in fact, most vitamins and supplements are difficult to absorb through the digestive system anyway. For example, many people struggle to get enough vitamin B12 because of its complicated metabolism involving the stomach, intestines and the liver.  </p></span></div></div></div><div data-rid="4c74c35d-8a97-44f2-ae1f-974a9ae447e2" data-replo-repeated-index=".0.0.0.0.0.0" style="width:868px;display:flex;max-width:100%;align-self:flex-start;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:80px;column-gap:80px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-4363c77d rmq-3d97a9fc rmq-e80e00c9 rmq-2482bcf4" data-radium="true"><div data-rid="98badc97-f916-4403-97d4-e2413bc3e42a" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:500px;align-self:stretch;align-items:flex-end;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;row-gap:30px;column-gap:30px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2c645cc7 rmq-a187ab6d rmq-39cf7137 rmq-829aa5ca" data-radium="true"><div data-rid="41da647d-602c-4f2f-9a74-c4f71df7694d" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-3ed0c3ab rmq-82f10b1 rmq-ca9f82e2 rmq-4eb93f7f alchemy-rte" style="color:#000000FF;font-size:36px;text-align:right;font-family:Poppins, sans-serif;font-weight:600;line-height:45px;letter-spacing:1px;text-align-last:right;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>an innovative solution</p></span></div><div data-rid="7640316a-dd12-4b5c-84ba-2379ca5624dc" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-8bb25024 rmq-f3d0d7f9 rmq-ca9f82e2 rmq-4eb93f7f alchemy-rte" style="color:#000000FF;font-size:21px;text-align:right;font-family:Poppins, sans-serif;font-weight:400;line-height:30px;text-align-last:right;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>To help a group of these B12-deficient patients, a team of innovative doctors decided to infuse B12 in toothpaste. Studies then confirmed that brushing with vitamin B12 infused toothpaste corrects B12 deficiency as effectively as swallowing tablets, without the drawbacks and side effects. Tooth-brushing, it turns out, is an incredibly efficient delivery mechanism for certain vitamins and supplements. </p></span></div></div><picture data-rid="0e0436f0-3222-4a84-837b-a7d28b5ac9cf" data-replo-repeated-index=".0.0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;max-width:288px;max-height:288px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-c3af2371 rmq-d19a9658 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/85.png?v=1690974552&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/85.png?v=1690974552&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/85.png?v=1690974552&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/85.png?v=1690974552&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/85.png?v=1690974552" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture></div><div data-rid="a8a4dcec-5055-427b-98c3-5a490670a34f" data-replo-repeated-index=".0.0.0.0.0.0" style="width:868px;display:flex;max-width:100%;align-self:flex-end;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:80px;column-gap:80px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-6900d230 rmq-3d97a9fc rmq-e80e00c9 rmq-2482bcf4" data-radium="true"><picture data-rid="a0f7f635-3a24-42ba-a8d5-85588e95080a" data-replo-repeated-index=".0.0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:288px;max-height:288px;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-c3af2371 rmq-f7abb826 rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8.png?v=1690976840&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8.png?v=1690976840&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8.png?v=1690976840&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8.png?v=1690976840&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_8.png?v=1690976840" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="2bc69d67-0dfe-462c-a21b-514c46ab9231" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:500px;align-self:stretch;align-items:flex-start;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;row-gap:30px;column-gap:30px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2c645cc7 rmq-a187ab6d rmq-39cf7137 rmq-829aa5ca" data-radium="true"><div data-rid="e3214cf3-60bc-4d20-ab90-3be6f8f2fbb2" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-3ed0c3ab rmq-7b5425ea rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:36px;text-align:left;font-family:Poppins, sans-serif;font-weight:600;line-height:45px;letter-spacing:1px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>proven safety + efficacy</p></span></div><div data-rid="b0ecb8cd-8110-46be-93d1-7a2a0799a72a" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-8bb25024 rmq-565b5b22 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:21px;text-align:left;font-family:Poppins, sans-serif;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>The reason this works is a scientific process called mucosal absorption. Many medications and supplements around the world use this method of delivery because of its efficiency and ease</p></span></div></div></div><div data-rid="099cfe3e-d2fc-41b2-9d98-7540246c9cf4" data-replo-repeated-index=".0.0.0.0.0.0" style="width:868px;display:flex;max-width:100%;align-self:flex-start;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:80px;column-gap:80px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-4363c77d rmq-3d97a9fc rmq-e80e00c9 rmq-2482bcf4" data-radium="true"><div data-rid="aef186c1-2d15-4b61-9804-f5270d791e50" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:500px;align-self:stretch;align-items:flex-end;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;row-gap:30px;column-gap:30px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2c645cc7 rmq-a187ab6d rmq-39cf7137 rmq-829aa5ca" data-radium="true"><div data-rid="6c5857a2-7a37-42b9-b938-052b08403b9f" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-3ed0c3ab rmq-82f10b1 rmq-ca9f82e2 rmq-4eb93f7f alchemy-rte" style="color:#000000FF;font-size:36px;text-align:right;font-family:Poppins, sans-serif;font-weight:600;line-height:45px;letter-spacing:1px;text-align-last:right;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>high bio-availability</p></span></div><div data-rid="e027beed-d2ee-4b92-93c7-67610a4a2df9" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-8bb25024 rmq-f3d0d7f9 rmq-ca9f82e2 rmq-4eb93f7f alchemy-rte" style="color:#000000FF;font-size:21px;text-align:right;font-family:Poppins, sans-serif;font-weight:400;line-height:30px;text-align-last:right;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>The mouth is full of blood capillaries and absorbent tissue, which actively extract nutrients from vitamins and supplements that come into contact with the gums, inner cheeks, and soft membranes under your tongue.<br></p></span></div></div><picture data-rid="f89b5852-5c4f-4b47-9485-0cc41851c4ba" data-replo-repeated-index=".0.0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;max-width:288px;max-height:288px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-c3af2371 rmq-d19a9658 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/86.png?v=1690974957&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/86.png?v=1690974957&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/86.png?v=1690974957&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/86.png?v=1690974957&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/86.png?v=1690974957" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture></div></div><div data-rid="fcedfab6-2fce-4f7a-bb62-35a560cd4107" data-replo-repeated-index=".0.0.0.0.0" style="width:868px;display:flex;max-width:100%;align-self:flex-end;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:80px;column-gap:80px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-6900d230 rmq-3d97a9fc rmq-e80e00c9 rmq-2482bcf4" data-radium="true"><picture data-rid="2d7db8b4-cf28-4bf8-a93f-9bc7065e00fc" data-replo-repeated-index=".0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:288px;max-height:288px;object-fit:cover;flex-shrink:1;flex-basis:0" class="rmq-c3af2371 rmq-f7abb826 rmq-78bf3fea rmq-82b55d77" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_9.png?v=1690977649&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_9.png?v=1690977649&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_9.png?v=1690977649&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_9.png?v=1690977649&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Michelle_Wohlford_RDH_Chief_Dental_Hygienist_9.png?v=1690977649" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="10a223bb-f917-4ab6-a904-df632a7e5040" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:500px;align-self:stretch;align-items:flex-start;flex-direction:column;justify-content:center;flex-shrink:1;flex-basis:0;row-gap:30px;column-gap:30px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2c645cc7 rmq-a187ab6d rmq-39cf7137 rmq-829aa5ca" data-radium="true"><div data-rid="e67169ca-8fae-4f88-92bb-29ab551ea384" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-3ed0c3ab rmq-7b5425ea rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:36px;text-align:left;font-family:Poppins, sans-serif;font-weight:600;line-height:45px;letter-spacing:1px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>rapid uptake</p></span></div><div data-rid="c6e8f9a0-8ad4-46d0-8b11-9ca478a59fff" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-8bb25024 rmq-565b5b22 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:21px;text-align:left;font-family:Poppins, sans-serif;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>The vitamins and supplements we use – including vitamins B12 and D, melatonin and caffeine – are all proven to quickly absorb through your oral membrane and into your bloodstream to reach whole-body systems. That’s what’s happening as you diligently brush with Duo Toothpaste tablets, and it’s why you feel the caffeine in Duo Energy almost right away!</p></span></div></div></div></div></div><div data-rid="6dbece43-3b18-4fbc-a1e9-c7868a48ed67" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="a9c2eb1f-08f5-43ee-b6df-e769b40cb0b0" data-replo-repeated-index=".0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:50px;align-self:flex-start;object-fit:cover;margin-left:100px;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/high_bio-availability_a71d310f-f0ba-41af-83e9-950387e7b2a7.svg?v=1690586108" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="4c013d92-1ed0-46df-9816-77bf14c52136" data-replo-repeated-index=".0.0.0.0" class="rmq-cbf2c8f4 rmq-e4a89ad6 rmq-75d91aa7 rmq-578c355a alchemy-rte" style="color:#1C1D1D;flex-grow:1;font-size:20px;align-self:stretch;text-align:left;font-weight:400;line-height:32px;margin-right:250px;padding-left:30px;text-align-last:left;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>high bio-availability<br></p><ol><li><p>Bioavailability of oral mucosally absorbed melatonin higher than when delivered by pill due to bypassing liver metabolism. Journal of Bioequivalence &amp; Bioavailability.<br></p></li></ol></span></div></div><div data-rid="a40da42e-defe-4538-b877-206b0321a594" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="8ad81131-29fc-4cb2-a8c1-1abafbac807b" data-replo-repeated-index=".0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:50px;align-self:flex-start;object-fit:cover;margin-left:100px;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/absorbs_efficiently_49702b96-b0b5-4122-b82f-c4dc04f46b2c.svg?v=1690586107" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="735d6af2-dd4c-4960-8035-3969c235b556" data-replo-repeated-index=".0.0.0.0" class="rmq-cbf2c8f4 rmq-e4a89ad6 rmq-75d91aa7 rmq-578c355a alchemy-rte" style="color:#1C1D1D;flex-grow:1;font-size:20px;align-self:stretch;text-align:left;font-weight:400;line-height:32px;margin-right:250px;padding-left:30px;text-align-last:left;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>absorbed efficiently<br></p><ol><li><p>Vitamin B12 toothpaste corrects B12 deficiency as efficiently as capsules over 12-week period. The American Journal of Clinical Nutrition.</p></li><li><p>Sublingual vitamin D works as efficiently as capsular form of supplementation. European Journal of Clinical Nutrition.<br></p></li></ol></span></div></div><div data-rid="162be8ec-ea77-4a44-83ad-d530778ee933" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="67f05f50-4ca7-48fb-9f36-a9a35c30276a" data-replo-repeated-index=".0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:50px;align-self:flex-start;object-fit:cover;margin-left:100px;flex-shrink:1;flex-basis:0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77" data-radium="true"><img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/activates_in_minutes_d3fdabf8-be26-4774-abe3-bd5b988eb2f5.svg?v=1690586108" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="ea6b8e3c-48f3-47d8-b716-54b998c70e8d" data-replo-repeated-index=".0.0.0.0" class="rmq-cbf2c8f4 rmq-e4a89ad6 rmq-75d91aa7 rmq-578c355a alchemy-rte" style="color:#1C1D1D;flex-grow:1;font-size:20px;align-self:stretch;text-align:left;font-weight:400;line-height:32px;margin-right:250px;padding-left:30px;text-align-last:left;flex-shrink:1;flex-basis:0;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>activates in minutes<br></p><ol><li><p>Caffeine is absorbed in minutes when administered mucosally. Food &amp; Function Journal.<br></p></li></ol></span></div></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="91665465511"></script>
  
    </div>
